/*flight_booking*/
ul li{list-style: none;}
.removeseting{ display:none;}
.repeatprows {
    float: left;
    margin: 5px 0;
    width: 100%;
}
.sprice{
float: left;
 width: 100%; font-size: 12px;

}

.padding-right-0{padding-right:0;}
.postnew{background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    padding: 15px 0; font-size:14px;}
.comon_backbg{background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    float: left;
    margin: 0 0 20px;
    width: 100%;}
.leftboks{
    float: left;
    width: 100%;}
.flightset{display: block;
    overflow: hidden;}
.frto{ color: #666666;
    font-size: 15px;}
.fseting.fa{color: #666666;
    display: block;
    font-size: 18px;
    text-align: center;}
.durpla{color: #666666;
    font-size: 13px;
    margin: 5px 0;}
.dutarionsf{ border: 1px solid #eeeeee;
    display: block;
    margin: 0 10px;
    text-align: center;}
.witebackgrnd {
     background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin: 25px 0;
    padding: 0 15px;
}
.lostcart{ background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    float: left;list-style: none;
    font-size: 14px;
   /* margin-bottom: 15px;*/
    overflow: hidden;
    width: 100%;}
.fordetailpage {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.sidebuki {
    float: right;
}
.cartbukdis {
    display: block;
    float: left;
    width: 100%;
}
.cartlistingbuk {
    float: left;
    width: 100%;
    padding:0px 14px;
}
.carttitlebuk1{ float:left; width:100%;}
.celcart {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.smalbukcrt {
    float: left;
   /* width: 46px;*/
   width: 100px;
    margin:0 0px;}
.smalbukcrt img{ 
    width:100%;
        height: 60px;
}
.splcrtpad {
    padding: 10px 0;
}
.nopadding_right { padding-right: 0px; }
.nopadding_left { padding-left: 0px; }
.carttitlebuk {
    background: #d6d6d6 none repeat scroll 0 0;
    color: #000;
    display: block;
    float: left;
    font-size: 16px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.cartsec {
      color: #666;
    display: block;
    float: left;
    font-size: 12px;
    overflow: hidden;
}
.singecartpricebuk {
    color: #333333;
}

.cartitembuk {
    display: table;
    position: relative;
    width: 100%; line-height: 28px;
}
.cartitembuk:nth-child(odd) { background: #fff; }
.cartitembuk:nth-child(even) { background: #f5f5f5; }
.payblnhmxm {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.ritaln {
    text-align: right;
}
.payblnhm {
    display: block;
    overflow: hidden;
}
.promocode {
   border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}
.promosubmit {
    background: #fdb813 none repeat scroll 0 0;
    border: 1px solid #fdb813;
    border-radius: 0px;
    color: #000;
    display: table;
    height: 50px; 
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    width: 100%; font-size:14px;
}
.savemessage {
    color: #666666;
    display: block;
    overflow: hidden;
    padding: 5px 25px 15px;
}
.cartcntamnt.normalprc {
    color: #333333;
}
.cartlistingbuk.nomarr {
    margin: 0px 0 0;
}
.cartcntamnt.bigclrfnt {
    color: #203f7c;
    font-size: 20px;
}
.padleftpay {
    padding: 0 30px 0 0;
}
.inpagehed {
    /* background: #f6f6f6 none repeat scroll 0 0; */
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 10px 15px;
    /* text-transform: uppercase; */
    background: #fdb813;
}
.sectionbuk{padding: 15px;}
.collapsebtn2.bukcolsp::after {
    background: rgba(0, 0, 0, 0) url("../images/stip.png") no-repeat scroll 0 bottom;
    bottom: -9px;
    content: "";
    height: 9px;
    left: 70px;
    position: absolute;
    width: 25px;
    z-index: 100;
}
.paymentpage .set_margin { padding: 0px 4px;
    margin-bottom: 10px; }
.collapsebtn2 {
    background: #ffffff none repeat scroll 0 0;
    border: 0 solid #000000;
    color: #15262f;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 100%;
}
.collapsebtn2.bukcolsp {
     border-bottom: 1px dotted #ddd;
    color: #444;
    font-size: 20px;
    font-weight: normal;
    height: auto;
    margin: 10px 0 30px;
    padding: 10px 0;
    position: relative;
}
.collapsebtn2.bukcolsp span.collapsearrow {
    background: rgba(0, 0, 0, 0) url("../images/card.png") no-repeat scroll 0 0;
    height: 28px;
    margin: 0;
    width: 28px;
}
.editbuk {
    background: #f88c3e none repeat scroll 0 0;
    border: 1px solid #f88c3e;
    border-radius: 2px;
    color: #ffffff;
    float: right;
    font-size: 14px;
    margin-right: 10px;
    padding: 3px 15px;
}
.onedept {
    display: block;
    overflow: hidden;
}
.evryicon {
    background: #203f7c none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    float: left;
    height: 45px;
    line-height: 57px;
    margin-right: 10px;
    text-align: center;
    width: 45px;
}
.evryicon .fa{font-size: 26px;margin-top: 10px;}
.pasenger_location{display: block;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;}
.payinput{border: 1px solid #dddddd;
    border-radius: 3px;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    width: 100%;}
.inpagehedbuk {
    color: #444444;
    display: table;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    overflow: hidden;
    /* padding: 5px 10px; */
}
.hwonum{background: #203f7c none repeat scroll 0 0;
    border-radius: 3px; color: #fff;
    float: left;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 5px 10px;}
.bookingcnt {
    color: #333333;
}
.payrow {
    display: block;
    font-size: 14px;

    overflow: hidden;
    padding-bottom: 2px;
}
.billingnob .payrow{border-bottom: none;}
.lokter{
    text-align: center;
    width: 100%;}
.whoare{color: #444; float: left; margin-left: 3px; line-height: 37px;
    font-size: 11px;}
.lokter .fa {
    background: #fdb813 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    /* display: block; */
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    width: 40px;
    float: left;
}
.lokter .fa-male{background: #f96800 none repeat scroll 0 0;}
.lokter .fa-child{background: #fcae05 none repeat scroll 0 0;}
.paylabel {
    color: #666666;
    display: block;
    margin: 5px 0;
    overflow: hidden; font-size: 13px;
}
.cartcntamnt {
    color: #ffffff;
    display: block;
    overflow: hidden;
    padding: 10px;
}
.flpayinput {
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    padding: 5px 15px 5px 15px;
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{ background: #16acdf ; color: 






;#fff; }
.selectedwrap {
    position: relative;
}
.selectedwrap::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 1px;
    color: #666666;
    content: "";
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 18px;
    height: 38px;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 1px;
    width: 19px;
}
.noteclick {
           color: #1a1717;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px;
}
.featurette-divider3 {
    margin: 30px 0;
}

.checkcontent {
    color: #666666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
}
.colorbl {
    color: #0082be;
}
.payrowsubmt {
    float: left;
    padding: 20px 0;
    width: 100%;
}
.paysubmit {
    background: #fdb813 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #000;
    float: left;
    font-size: 15px;
    padding: 15px 20px;
    text-align: center;
    width: 70%;
}
.verifycod {
    color: #666666;
    display: block;
    margin-top: 10px;
    overflow: hidden;
}
.lastnote {
    color: #666666;
    display: block;
    margin-top: 20px;
    overflow: hidden;
}
.popuofixissue{position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    left: 0; display:none; transition:all 400ms ease-in-out 0s;}
.popbighed {
	background: none repeat scroll 0 0 #f6f6f6;
	color: #666;
	display: block;
	font-size: 18px;
	overflow: hidden;
	padding: 10px;
}
.paymentpage{
    display: block;
    padding: 10px 0; 
    float:none; width:100%;}

.paybilling_section{ float: left;
    width: 100%; margin-bottom:20px;}
.addnewbill{background: #d3d3d3 none repeat scroll 0 0;
    border-radius: 3px;
	cursor:pointer;
    float: left;
    height: 80px;
	position:relative;
    text-align: center;
    width: 100%;}
.addnewbill .add_new_fa{background: #008a00 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: none;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;}


.addnewbill.active {
    border: 1px solid #008a00;
}
.addnewbill.active .add_new_fa {
    display:block;
}

.addnewbill .fa.fasplus{display: block;
    font-size: 20px;
    margin-top: 20px;
    overflow: hidden; color:#444;}
.plus_add{display: block;
    font-size: 14px;
    overflow: hidden;}
.Addingbill{padding: 0 25px;}
.ouraddrss{ background: #ededed none repeat scroll 0 0;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    margin: 0 10px;
    overflow: hidden;
    padding: 10px 15px; position:relative; border:1px solid #ededed;}
.addname{color: #444;
    display: block;
    overflow: hidden;}
.addaddress{color: #444;}	
.owlindex3 .owl-controls .owl-buttons .owl-prev, .owlindex3 .owl-controls .owl-buttons .owl-next {
     border-radius: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -99999px;
    top: 0;
    width: 35px;
    z-index: 10;
}
.owlindex3 .owl-controls .owl-buttons .owl-prev {
    background:url(../images/prev.png) no-repeat center center;; left: -25px;}
.owlindex3 .owl-controls .owl-buttons .owl-next {
   background:url(../images/next.png) no-repeat center center;right: -25px;}
.owlindex3 .owl-controls.clickable{ margin-top:0px;}
.item.active .ouraddrss{ border:1px solid #008a00;}
.ouraddrss .fa{ display:none}
.item.active .ouraddrss .fa{background: #008a00 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;} 

.payment_process::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 17%;
    position: absolute;
    right: 17%;
    top: 9px;
}
.payment_process{    display: block;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;}
.center_pro {
    display: block;
    overflow: hidden;
    text-align: center;
}
.fabols{background: #ccc none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin: 0 auto 10px;
    overflow: hidden;
    position: relative;
    width: 20px;
    z-index: 8;}
.center_labl{color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;}
.center_pro.active .fabols{background:#ffae00;}

.sumry_wrap{float: left;
   /* padding-right: 20px;*/
    width: 100%;}
.pre_summery{border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    background: #fff;
}

.textcntr {
    text-align: center; display: block !important;
}

.prebok_hding{border-bottom: 1px dashed #ddd;
    color: #000;
    display: block;
    font-size: 15px;
    overflow: hidden;
    padding: 10px;
    background: #fdb813;}

.pre_summery .flname {
    font-size: 13px;
}

.flect {
    color: #646464;
    display: table;
    font-size: 12px;
    margin: 0 auto auto;
    padding: 5px 10px;
    line-height: 33px;
}

.flitsmdets {
    display: block;
    line-height: 19px;
    overflow: hidden;
    font-size: 13px;
    float: left;
    margin-left: 10px;
}


.sidenamedesc {
    display: block;
    width: 100%;
    float: left; padding: 0px;
    border-bottom: 1px solid #eee;
}
.hotel_prebook { margin-left: 10px;margin-top: 10px; }
.fligthsmll {
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 23px;
    width: 100%;
    float: left;
}

.fligthsmll img {
    width: 60px;
    float: left;
}

.signing_detis{}
.wrp_pre{ float: left;
    padding: 15px;
    width: 100%;}
.pre_put{border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 15px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    width: 100%;}
.sentmail_id{color: #1a1717;
    display: block;
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;}
.have_account{color: #333;
    /*display: block;*/
    font-size: 14px;
    font-weight: normal;
    margin: 3px 0 0;
    overflow: hidden;}
.pre_forgot{display: block;
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;}
.prebok_hding.spl_sigin{background: #fdb813 none repeat scroll 0 0;
    border-bottom: medium none;
    color: #000;}
.mob_hi {
    display: block;
    margin: 12px 0 0;
    overflow: hidden;
    text-align: center;
}
.sign_twosec{display:block;overflow:hidden;}
#i_have_account{display:none;}
.pre_summery .popuperror{margin:0; padding: 10px 15px 0px 15px;
    color: #f00;}
.error {  text-align: left; display: block; font-weight: normal; }
.confirm_mfg{display: block;
    font-size: 20px;
    margin: 0 0 15px;
    overflow: hidden;
    text-align: center;}
.confrm_smmry {border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 10px;}
.btn_comnbtns:hover{color:#fff;}
.cartsec_time{color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;}
.cartsec_more{border-top: 1px dashed #ddd;
    color: #666;
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
    overflow: hidden;}

@media screen and (max-width: 991px) {
.set_margin{margin:10px 0;}
}

@media screen and (max-width: 768px) {
.car-tglview{
        padding: 0px 10px !important;
}
.detlnavi .timlbl.right{
    width: 100%;
    float: left;
}

.sidebuki{float:none;}
.sumry_wrap, .padleftpay{padding:0;}
.paymentpage .col-md-4.col-sm-4.nopad.sidebuki,
.paymentpage .col-md-8.col-sm-8.nopad.fulbuki {
    width: 90%;
    float: none;
    margin: 0 auto
}

.paymentpage .padleftpay{
    float: left;
}
}/*768*/
@media screen and (max-width: 768px) and (min-width: 481px) {

.paymentpage .payrowsubmt .col-sm-12 {
    width: 50%;
}

}

@media screen and (max-width: 500px){
.hotel_prebook.new_hotel_prebook{
    display: none !important;
}
.pre_summery .celhtl.width80{
    width: 100%;
    float: left;
}
.paymentpage .cartcntamnt{
    padding: 0px;
}
.paysubmit{
    width: 100%;
}
.paymentpage .cartitembuk .col-md-3.celcart{
display: none;
}
.paymentpage .cartitembuk .col-md-8.splcrtpad.celcart{
    padding: 10px 10px;
}
.inpagehedbuk{
        font-size: 17px;
}
.detlnavi .timlbl.right{
    width: 100%;
    float: left;
}
}

@media screen and (max-width: 340px){
    .selectedwrap::after{
        line-height: 95px;
    }
    .paylabel{
        float: left;
    width: 100%;
    }
.detlnavi .widfty:first-child{
    text-align: center;
}
.detlnavi .col-xs-4.padflt.widfty{
    width: 33%;
    float: left;
    text-align: center;
}
.detlnavi .timlbl.left{
    width: 100%;
    float: left;
    text-align: center;
}


}


.stra_hotel .fa{color: #91a9b1;font-size: 13px;margin: 5px 2px;}
.stra_hotel[data-star="5"] .fa:nth-child(1), 
.stra_hotel[data-star="5"] .fa:nth-child(2), 
.stra_hotel[data-star="5"] .fa:nth-child(3), 
.stra_hotel[data-star="5"] .fa:nth-child(4), 
.stra_hotel[data-star="5"] .fa:nth-child(5),
.stra_hotel[data-star="4"] .fa:nth-child(1), 
.stra_hotel[data-star="4"] .fa:nth-child(2), 
.stra_hotel[data-star="4"] .fa:nth-child(3), 
.stra_hotel[data-star="4"] .fa:nth-child(4),
.stra_hotel[data-star="3"] .fa:nth-child(1), 
.stra_hotel[data-star="3"] .fa:nth-child(2), 
.stra_hotel[data-star="3"] .fa:nth-child(3),
.stra_hotel[data-star="2"] .fa:nth-child(1), 
.stra_hotel[data-star="2"] .fa:nth-child(2),
.stra_hotel[data-star="1"] .fa:nth-child(1){ color:#f88c3e;}	

.round_acti.fa {
    border: 1px solid #51bf4b;
    border-radius: 100%;
    color: #51bf4b;
    display: block;
    font-size: 40px;
    height: 100px;
    line-height: 98px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    width: 100px;
}

.round_acti.fa-times {
    border: 1px solid red !important;
    border-radius: 100%;
    color: red !important;
    display: block;
    font-size: 40px;
    height: 100px;
    line-height: 98px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    width: 100px;
}


.btn_comnbtns {
    background: #18385f  none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.req_star{
    color:#f00;
    font-size: 14px;
}

.timlbl {
    color: #203f7c;
    display: inline;
    overflow: hidden; font-size: 13px;
}

.flitrlbl {
    color: #777777;
    display: block;
    font-size: 13px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rndplace {
    color: #203f7c;
    display: block;
    font-size: 13px;
    overflow: hidden;
}

.margin-bottom-10{ margin-bottom: 20px;}
.car-tglview{
    display: none;
        padding: 20px 10px;
        background: #fefbfb;
}
input.car-togle{
    margin-bottom: 10px;
    width: 160px;
    padding: 0px;
    text-align: center;
}
#accordion2 .accordion-toggle.collapsed:after {
    font-family: 'FontAwesome';
    content: "\f106";    
    float: right;
    font-weight: bold;
}
#accordion2 .accordion-toggle:after {    
    content: "\f107";  
      font-family: 'FontAwesome';  
       float: right;
       font-weight: bold;
}
   .accordion-group{

     width: 100%;
    float: left;
    
    margin-bottom: 10px;}
.accordion-heading a{
    width: 100%;
    float: left;
    color: #000;
    padding: 10px 10px;
    background: #d6d6d6;
}
.accordion-body{
        width: 100%;
    float: left;
    padding: 10px 10px;
    min-height: 80px;
    background: #fff;
    border: 1px solid #ddd;
}
.link-bar a{
        cursor: pointer;
}