html,
body {height: 100%;}
body {background:#fff;margin:0;font-family: 'Raleway', sans-serif;font-size:12px;}
ul, li{list-style:none;margin:0; padding:0;}
div, a, ul, li, nav, input, select, button{outline:none !important;}
a{cursor:pointer;}
a:hover, a:focus{text-decoration:none;}
/*header*/
.formcontnt {font-size: 13px;margin-bottom: 15px;line-height: 20px;}
.dropdown-menu.mysign {left: auto;overflow: visible;padding: 0;right: 0;width: 300px;}
.dropdown-menu.mysign1 {left: auto;overflow: visible;padding: 10px 0;right: 0;width: 200px;}
.mysign1 li{display: block;overflow: hidden; margin: 2px 5px;position: relative;}
.mysign1 li:nth-child(2n+1){background: #f5f5f5 none repeat scroll 0 0;}
.mysign1 li.active, .mysign1 li:hover{background: #eeeeee none repeat scroll 0 0;}
.mysign1 li.active .side_curency, .mysign1 li:hover .side_curency{background: #f45104 none repeat scroll 0 0;color: #ffffff;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.dropdown-menu.mysign1 a {
    padding: 5px 0;
}
.mysign1 li a,.mysign1 li.active a:hover, .mysign1 li.active a:focus, .mysign1 li.active a { display: block;overflow: hidden;padding: 0;text-align: center;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;color: #333333;}
.signdiv {display: block;overflow: hidden;padding: 20px; position:relative;}
.lodrefrentrev {background: rgba(255, 255, 255, 0.8) url("../images/preloader.gif") no-repeat scroll center center;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;}
.preloading{  background: #ffffff url("../images/preloader.gif") no-repeat scroll center center;border-radius: 10px;box-shadow: 0 0 10px -5px #909090;height: 50px;left: 50%;margin-left: -50px;margin-top: -25px;min-width: auto;position: absolute;top: 50%;width: 100px;padding: 5%;text-align: center;}
.sprte.inr {background-position: -6px -351px;}
.forgets, .logins, .registers{ display:none; -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.forgets.active, .logins.active, .registers.active{ display:block}

.sprte.gbp {background-position: -6px -308px;}
.sprte.aud {background-position: -6px -268px;}
.sprte.usd {background-position: -6px -436px;}
.flag {width: 32px;height: 32px;background: rgba(0, 0, 0, 0) url("../images/flags.png") no-repeat scroll 0 0;}
.flag.flag-ad {background-position: -32px 0}
.flag.flag-ae {background-position: -64px 0}
.flag.flag-af {background-position: -96px 0}
.flag.flag-ag {background-position: -128px 0}
.flag.flag-ai {background-position: -160px 0}
.flag.flag-al {background-position: -192px 0}
.flag.flag-am {background-position: -224px 0}
.flag.flag-an {background-position: -256px 0}
.flag.flag-ao {background-position: -288px 0}
.flag.flag-ar {background-position: -320px 0}
.flag.flag-as {background-position: -352px 0}
.flag.flag-at {background-position: -384px 0}
.flag.flag-au {background-position: -416px 0}
.flag.flag-aw {background-position: -448px 0}
.flag.flag-az {background-position: 0 -32px}
.flag.flag-ba {background-position: -32px -32px}
.flag.flag-bb {background-position: -64px -32px}
.flag.flag-bd {background-position: -96px -32px}
.flag.flag-be {background-position: -128px -32px}
.flag.flag-bf {background-position: -160px -32px}
.flag.flag-bg {background-position: -192px -32px}
.flag.flag-bh {background-position: -224px -32px}
.flag.flag-bi {background-position: -256px -32px}
.flag.flag-bj {background-position: -288px -32px}
.flag.flag-bm {background-position: -320px -32px}
.flag.flag-bn {background-position: -352px -32px}
.flag.flag-bo {background-position: -384px -32px}
.flag.flag-br {background-position: -416px -32px}
.flag.flag-bs {background-position: -448px -32px}
.flag.flag-bt {background-position: 0 -64px}
.flag.flag-bw {background-position: -32px -64px}
.flag.flag-by {background-position: -64px -64px}
.flag.flag-bz {background-position: -96px -64px}
.flag.flag-ca {background-position: -128px -64px}
.flag.flag-cd {background-position: -160px -64px}
.flag.flag-cf {background-position: -192px -64px}
.flag.flag-cg {background-position: -224px -64px}
.flag.flag-ch {background-position: -256px -64px}
.flag.flag-ci {background-position: -288px -64px}
.flag.flag-ck {background-position: -320px -64px}
.flag.flag-cl {background-position: -352px -64px}
.flag.flag-cm {background-position: -384px -64px}
.flag.flag-cn {background-position: -416px -64px}
.flag.flag-co {background-position: -448px -64px}
.flag.flag-cr {background-position: 0 -96px}
.flag.flag-cu {background-position: -32px -96px}
.flag.flag-cv {background-position: -64px -96px}
.flag.flag-cy {background-position: -96px -96px}
.flag.flag-cz {background-position: -128px -96px}
.flag.flag-de {background-position: -160px -96px}
.flag.flag-dj {background-position: -192px -96px}
.flag.flag-dk {background-position: -224px -96px}
.flag.flag-dm {background-position: -256px -96px}
.flag.flag-do {background-position: -288px -96px}
.flag.flag-dz {background-position: -320px -96px}
.flag.flag-ec {background-position: -352px -96px}
.flag.flag-ee {background-position: -384px -96px}
.flag.flag-eg {background-position: -416px -96px}
.flag.flag-eh {background-position: -448px -96px}
.flag.flag-er {background-position: 0 -128px}
.flag.flag-es {background-position: -32px -128px}
.flag.flag-et {background-position: -64px -128px}
.flag.flag-fi {background-position: -96px -128px}
.flag.flag-fj {background-position: -128px -128px}
.flag.flag-fm {background-position: -160px -128px}
.flag.flag-fo {background-position: -192px -128px}
.flag.flag-fr {background-position: -224px -128px}
.flag.flag-ga {background-position: -256px -128px}
.flag.flag-gb {background-position: -288px -128px}
.flag.flag-gd {background-position: -320px -128px}
.flag.flag-ge {background-position: -352px -128px}
.flag.flag-gg {background-position: -384px -128px}
.flag.flag-gh {background-position: -416px -128px}
.flag.flag-gi {background-position: -448px -128px}
.flag.flag-gl {background-position: 0 -160px}
.flag.flag-gm {background-position: -32px -160px}
.flag.flag-gn {background-position: -64px -160px}
.flag.flag-gp {background-position: -96px -160px}
.flag.flag-gq {background-position: -128px -160px}
.flag.flag-gr {background-position: -160px -160px}
.flag.flag-gt {background-position: -192px -160px}
.flag.flag-gu {background-position: -224px -160px}
.flag.flag-gw {background-position: -256px -160px}
.flag.flag-gy {background-position: -288px -160px}
.flag.flag-hk {background-position: -320px -160px}
.flag.flag-hn {background-position: -352px -160px}
.flag.flag-hr {background-position: -384px -160px}
.flag.flag-ht {background-position: -416px -160px}
.flag.flag-hu {background-position: -448px -160px}
.flag.flag-id {background-position: 0 -192px}
.flag.flag-ie {background-position: -32px -192px}
.flag.flag-il {background-position: -64px -192px}
.flag.flag-im {background-position: -96px -192px}
.flag.flag-in {background-position: -128px -192px}
.flag.flag-iq {background-position: -160px -192px}
.flag.flag-ir {background-position: -192px -192px}
.flag.flag-is {background-position: -224px -192px}
.flag.flag-it {background-position: -256px -192px}
.flag.flag-je {background-position: -288px -192px}
.flag.flag-jm {background-position: -320px -192px}
.flag.flag-jo {background-position: -352px -192px}
.flag.flag-jp {background-position: -384px -192px}
.flag.flag-ke {background-position: -416px -192px}
.flag.flag-kg {background-position: -448px -192px}
.flag.flag-kh {background-position: 0 -224px}
.flag.flag-ki {background-position: -32px -224px}
.flag.flag-km {background-position: -64px -224px}
.flag.flag-kn {background-position: -96px -224px}
.flag.flag-kp {background-position: -128px -224px}
.flag.flag-kr {background-position: -160px -224px}
.flag.flag-kw {background-position: -192px -224px}
.flag.flag-ky {background-position: -224px -224px}
.flag.flag-kz {background-position: -256px -224px}
.flag.flag-la {background-position: -288px -224px}
.flag.flag-lb {background-position: -320px -224px}
.flag.flag-lc {background-position: -352px -224px}
.flag.flag-li {background-position: -384px -224px}
.flag.flag-lk {background-position: -416px -224px}
.flag.flag-lr {background-position: -448px -224px}
.flag.flag-ls {background-position: 0 -256px}
.flag.flag-lt {background-position: -32px -256px}
.flag.flag-lu {background-position: -64px -256px}
.flag.flag-lv {background-position: -96px -256px}
.flag.flag-ly {background-position: -128px -256px}
.flag.flag-ma {background-position: -160px -256px}
.flag.flag-mc {background-position: -192px -256px}
.flag.flag-md {background-position: -224px -256px}
.flag.flag-me {background-position: -256px -256px}
.flag.flag-mg {background-position: -288px -256px}
.flag.flag-mh {background-position: -320px -256px}
.flag.flag-mk {background-position: -352px -256px}
.flag.flag-ml {background-position: -384px -256px}
.flag.flag-mm {background-position: -416px -256px}
.flag.flag-mn {background-position: -448px -256px}
.flag.flag-mo {background-position: 0 -288px}
.flag.flag-mq {background-position: -32px -288px}
.flag.flag-mr {background-position: -64px -288px}
.flag.flag-ms {background-position: -96px -288px}
.flag.flag-mt {background-position: -128px -288px}
.flag.flag-mu {background-position: -160px -288px}
.flag.flag-mv {background-position: -192px -288px}
.flag.flag-mw {background-position: -224px -288px}
.flag.flag-mx {background-position: -256px -288px}
.flag.flag-my {background-position: -288px -288px}
.flag.flag-mz {background-position: -320px -288px}
.flag.flag-na {background-position: -352px -288px}
.flag.flag-nc {background-position: -384px -288px}
.flag.flag-ne {background-position: -416px -288px}
.flag.flag-ng {background-position: -448px -288px}
.flag.flag-ni {background-position: 0 -320px}
.flag.flag-nl {background-position: -32px -320px}
.flag.flag-no {background-position: -64px -320px}
.flag.flag-np {background-position: -96px -320px}
.flag.flag-nr {background-position: -128px -320px}
.flag.flag-nz {background-position: -160px -320px}
.flag.flag-om {background-position: -192px -320px}
.flag.flag-pa {background-position: -224px -320px}
.flag.flag-pe {background-position: -256px -320px}
.flag.flag-pf {background-position: -288px -320px}
.flag.flag-pg {background-position: -320px -320px}
.flag.flag-ph {background-position: -352px -320px}
.flag.flag-pk {background-position: -384px -320px}
.flag.flag-pl {background-position: -416px -320px}
.flag.flag-pr {background-position: -448px -320px}
.flag.flag-ps {background-position: 0 -352px}
.flag.flag-pt {background-position: -32px -352px}
.flag.flag-pw {background-position: -64px -352px}
.flag.flag-py {background-position: -96px -352px}
.flag.flag-qa {background-position: -128px -352px}
.flag.flag-re {background-position: -160px -352px}
.flag.flag-ro {background-position: -192px -352px}
.flag.flag-rs {background-position: -224px -352px}
.flag.flag-ru {background-position: -256px -352px}
.flag.flag-rw {background-position: -288px -352px}
.flag.flag-sa {background-position: -320px -352px}
.flag.flag-sb {background-position: -352px -352px}
.flag.flag-sc {background-position: -384px -352px}
.flag.flag-sd {background-position: -416px -352px}
.flag.flag-se {background-position: -448px -352px}
.flag.flag-sg {background-position: 0 -384px}
.flag.flag-si {background-position: -32px -384px}
.flag.flag-sk {background-position: -64px -384px}
.flag.flag-sl {background-position: -96px -384px}
.flag.flag-sm {background-position: -128px -384px}
.flag.flag-sn {background-position: -160px -384px}
.flag.flag-so {background-position: -192px -384px}
.flag.flag-sr {background-position: -224px -384px}
.flag.flag-st {background-position: -256px -384px}
.flag.flag-sv {background-position: -288px -384px}
.flag.flag-sy {background-position: -320px -384px}
.flag.flag-sz {background-position: -352px -384px}
.flag.flag-tc {background-position: -384px -384px}
.flag.flag-td {background-position: -416px -384px}
.flag.flag-tg {background-position: -448px -384px}
.flag.flag-th {background-position: 0 -416px}
.flag.flag-tj {background-position: -32px -416px}
.flag.flag-tl {background-position: -64px -416px}
.flag.flag-tm {background-position: -96px -416px}
.flag.flag-tn {background-position: -128px -416px}
.flag.flag-to {background-position: -160px -416px}
.flag.flag-tr {background-position: -192px -416px}
.flag.flag-tt {background-position: -224px -416px}
.flag.flag-tv {background-position: -256px -416px}
.flag.flag-tw {background-position: -288px -416px}
.flag.flag-tz {background-position: -320px -416px}
.flag.flag-ua {background-position: -352px -416px}
.flag.flag-ug {background-position: -384px -416px}
.flag.flag-us {background-position: -416px -416px}
.flag.flag-uy {background-position: -448px -416px}
.flag.flag-uz {background-position: 0 -448px}
.flag.flag-va {background-position: -32px -448px}
.flag.flag-vc {background-position: -64px -448px}
.flag.flag-ve {background-position: -96px -448px}
.flag.flag-vg {background-position: -128px -448px}
.flag.flag-vi {background-position: -160px -448px}
.flag.flag-vn {background-position: -192px -448px}
.flag.flag-vu {background-position: -224px -448px}
.flag.flag-ws {background-position: -256px -448px}
.flag.flag-ye {background-position: -288px -448px}
.flag.flag-za {background-position: -320px -448px}
.flag.flag-zm {background-position: -352px -448px}
.flag.flag-zw {background-position: -384px -448px}
.curncy_img {float: left;height: 30px;width: 30px;}
.signdivup{}
.sprte {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll 0 0;}
.name_currency {float: left;font-size: 14px;line-height: 30px;padding: 0 8px;font-weight: 500;}
.side_curency {background: #eeeeee none repeat scroll 0 0;bottom: 0;line-height: 42px;position: absolute;right: 0;text-align: center;top: 0;width: 40px;font-weight: 500;}
.leftpul {display: table;margin: 0 auto;}
.facecolor {background: #3b5998 none repeat scroll 0 0;}
.logspecify {border-radius: 100%;display: table;float: left;height: 40px;margin: 8px;overflow: hidden;width: 40px;}
.logspecify .fa {color: #ffffff;float: left;font-size: 22px;line-height: 40px;text-align: center;width: 40px;}
.mensionsoc {color: #ffffff;display: block;font-size: 16px;line-height: 20px;overflow: hidden;text-align: center;}
.tweetcolor {background: #2aa9e0 none repeat scroll 0 0;}
.gpluses {background: #d3492c none repeat scroll 0 0;}
.centerpul {display: block;margin: 10px 0;overflow: hidden;position: relative;text-align: center;}
.centerpul::after {background: #dddddd none repeat scroll 0 0;content: "";height: 1px;left: 0;position: absolute;right: 0;top: 50%;}
.orbar {background: #cccccc none repeat scroll 0 0;border-radius: 30px;color: #333333;display: block;height: 30px;line-height: 30px;margin: 0 auto;overflow: hidden;position: relative;width: 30px;z-index: 10;}
.orbar strong {font-weight: 300;}
.ritpul {}
.rowput {float: left;margin-bottom: 10px;position: relative;width: 100%;}
.rowput .fa {background: #f5f5f5 none repeat scroll 0 0;border-radius: 3px 0 0 3px;color: #bbbbbb;font-size: 22px;left: 2px;line-height: 38px;position: absolute;text-align: center;top: 2px;width: 35px;}
.rowput input {padding: 6px 6px 6px 45px;}
input.logpadding {height: 42px;}
.forgtpsw {color: #2aa9e0;float: right;line-height: 22px;}
.submitlogin {background: #ff6633 none repeat scroll 0 0;border: 1px solid #ef5623;border-radius: 3px;box-shadow: 0 3px 0 0 #ef5623;color: #ffffff;display: block;font-size: 16px;margin: 12px 0;overflow: hidden;padding: 10px 0;width: 100%;line-height: 20px;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.misclog {line-height: 20px;}
.dntacnt {border-top: 1px solid #eeeeee;color: #666666;display: block;margin-top: 10px;overflow: hidden;padding: 10px 0 0; line-height:20px;font-size: 13px;}
.dntacnt a {color: #2aa9e0;}
.nopad{ padding:0px;}
.topssec {background: #ffffff none repeat scroll 0 0;border-bottom: 1px solid #fff;box-shadow: 0 2px 8px -5px #c8c8c8;float: left;height: 80px;position: fixed;transition: all 400ms ease-in-out 0s;width: 100%;z-index: 10000000;}
.logo {float: left;padding: 13px 0;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.tagline{font-size: 18px;font-weight: 500;line-height: 70px;margin: 0 10px; color:#2b2b2b;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.logo img {max-width: 100%; -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.ritsude {float: right;padding: 10px 0;
	line-height: 60px;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.topssec.fixed { height: 65px;}
.topssec.fixed .logo{padding: 8px 0;}
.topssec.fixed .logo img{max-width: 90%;}
.topssec.fixed .tagline{line-height: 65px;}
.topssec.fixed .ritsude{ padding: 3px 0;}
.sidebtn {float: left;position: relative;}
.topa {float: left; padding:0 !important;margin-right: 15px;}
.nomargin{ margin-right:0px;}
.mysign:before {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -239px -52px;content: "";height: 15px;left: 50%;margin-left: -14px;position: absolute;top: -11px;width: 28px;}
.mysign1:before   {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -239px -52px;content: "";height: 15px;left: 50%;margin-left: 25px;position: absolute;top: -11px;width: 28px;}
.dropdown-menu.mysign1 > ul {max-height: 200px;overflow-y: auto;}
.nav > li > a.topa:hover, .nav > li > a.topa:focus, .nav .open > a, .nav .open > a.topa:hover, .nav .open > a.topa:focus{ background:none;}
.reglognorml {display: block;overflow: hidden;position: relative;}
.reglog {display: block;overflow: hidden;position: relative;}
.userimage {float: left;margin: 0 10px 0 0;overflow: hidden;width: 35px;}
.userimage img{ max-height:35px; width:100%;}
.userimage.user_profimag{border-radius: 100%;float: left;height: 25px;margin: 15px 5px;overflow: hidden;width: 25px; line-height:0px;}
.userimage.user_profimag img{ min-height:30px;}
.userorlogin {color: #555;
    display: block;
    float: left;
    font-size: 14px;
    max-width: 130px;
    overflow: hidden;
    padding-right: 20px;
	position:relative;
    text-overflow: ellipsis;
    white-space: nowrap;}
.userorlogin strong{font-weight:normal;}
.userorlogin::after{content:"\f0d7";
	color: #ccc;
    font-family: "FontAwesome";
    position: absolute;
    right: 0;}
.nav > li > a.agent_login {
    border: 1px solid #ddd;
    line-height: 20px;
    margin: 10px 0 0 10px;
    padding: 10px;
}
.caret.cartdown {color: #cccccc;margin: 5px;}
.flags {color: #555;float: left;font-size: 14px;margin: 0 10px 0 0;}
.logo strong{ color:#666; font-size:20px;}
#fadeandscalereg {margin: 0 auto;min-width: auto;overflow: hidden;}
.wellme {background-color: #ffffff;border: 1px solid #e3e3e3;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;margin-bottom: 20px;max-width: 640px;min-height: 20px;min-width: 400px;padding: 15px; width:400px;}
.centerload {background: #ffffff none repeat scroll 0 0;border-radius: 5px;box-shadow: 0 0 10px -5px #000000;display: block;margin: 5% auto;max-width: 100px;min-width: 50%;padding: 5%;text-align: center;}
.rember {font-size: 14px; line-height: 20px;}
.signupterms {font-size: 13px; line-height: 20px;}
/*  Dropdown  */
.dropdown > a { -webkit-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
.dropdown-menu.animated {-webkit-animation-duration: 0.55s;animation-duration: 0.55s; -webkit-animation-timing-function: ease;  animation-timing-function: ease;}
.dropdown-menu.animated.fadeIn {-webkit-animation-duration: 0.45s; animation-duration: 0.45s; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;  }
/*  Dropdown End */
/*search_tab*/
.ui-autocomplete.ui-corner-all{ border-radius:0px !important; margin-top:-2px !important; }
.ui-menu .ui-menu-item{ border-bottom:1px solid #eee;}
.ui-menu .ui-menu-item .ui-state-focus{ margin:0px !important;}
div#ui-datepicker-div.ui-datepicker {background: #ffffff none repeat scroll 0 0;border: 0 none;border-radius: 3px;box-shadow: 0 0 10px -5px #000;margin: 0;overflow: hidden;padding: 0;width: auto !important;z-index: 100000002 !important;}
.ui-datepicker.ui-widget .ui-datepicker-prev::after, .ui-datepicker.ui-widget .ui-datepicker-next::after {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #ddd;border-radius: 3px;bottom: 3px;color: #999;font-family: "FontAwesome";font-size: 18px;
height: 30px;line-height: 30px;position: absolute;text-align: center;top: 0;width: 40px;z-index: 100;}
.ui-datepicker-next.ui-state-hover, .ui-datepicker-prev.ui-state-hover{ background:none;}
.ui-datepicker.ui-widget .ui-datepicker-header {background: #fff none repeat scroll 0 0;border: 0 none;border-radius: 0;padding: 8px;}
.ui-datepicker.ui-widget .ui-datepicker-prev::after {content: "";left: 0;}
#ui-datepicker-div.ui-datepicker .ui-datepicker-title {line-height: 35px;}
.ui-datepicker-title .ui-datepicker-month, .ui-datepicker-year {color: #444;font-size: 16px;font-weight: 600;}
.ui-datepicker-multi.ui-widget .ui-datepicker-group table {margin: 8px auto;}
.ui-datepicker.ui-widget td{border:0;}
.ui-datepicker.ui-widget .ui-datepicker-calendar th {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;color: #999;font-weight: 300;}
.ui-datepicker.ui-widget td.ui-datepicker-other-month {border: medium none;}
.ui-datepicker.ui-widget .ui-datepicker-next::after {content: "";right: 0;}
.ui-datepicker.ui-widget .ui-datepicker-prev span, .ui-datepicker.ui-widget .ui-datepicker-next span {display: none;}
.ui-datepicker-calendar thead{ border:none;}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover{border-radius:100%;}
.ui-datepicker.ui-widget td span, .ui-datepicker.ui-widget td a {
    border-radius: 100%;
	display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 40px;
}
.ui-datepicker-group.ui-datepicker-group-first{border-right: 1px solid #ddd;}
.ui-datepicker-multi-2 .ui-datepicker-group{padding:15px;}

.cmsoom{ color: #ffffff;display: block;font-size: 30px;padding: 30px;}
.searchtabs{display: block;float: left;overflow: hidden;width: 100%;}
.backsliding{float: left;position: relative;width: 100%;}
.backtabslide{display: block;height: 500px;overflow: hidden;width: 100%;}
.backtabslide img{ width:100%; max-height:500px; height:500px;}
.whenfixmar{  display: block;float: left;margin: 70px 0;position: relative;width: 100%;z-index: 10;}
.outtabcontent{display: block;margin: 0 -15px;}
.totopp {display: block;}
.outsideserach{ margin: 0 -15px;}
.customtab .nav-tabs{border:0;}
.customtab .tab-content{background: rgba( 0, 0, 0, 0.7 );border-top: 3px solid #ef7e2c;float:left;width:100%;min-height: 315px;}
.customtab .nav-tabs li a {background: #7c7986 none repeat scroll 0 0;border-radius: 3px 3px 0 0;color: #ffffff;font-size: 15px;line-height: 25px;margin: 0;padding: 10px 10px 10px 37px;position: relative;}
.customtab .nav-tabs > li > a:hover{ border:1px solid #7c7986;}
.customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li.active > a:hover, .customtab .nav-tabs > li.active > a:focus{background:#ef7e2c;color: #fff;border:1px solid #ef7e2c;}
.customtab .nav-tabs > li.active > spanfa, .customtab .nav-tabs > li.active > spanfa:hover, .customtab .nav-tabs > li.active > spanfa:focus{background: rgba(0, 177, 255, 1) none no-repeat scroll 0 0;border: medium none;color: #fff;}
.afbf:after {background: rgba(249, 104, 0, 0.02) none repeat scroll 0 0;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;}
.afbf:before {background: rgba(29, 29, 31, 0.15) none repeat scroll 0 0;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: 1;}
.nav.nav-tabs > li:last-child {margin: 0;}
 .customtab .nav-tabs .spanfa {display: block;font-size: 22px;height: 100%;left: 0;padding: 10px;position: absolute;text-align: center;top: 0;width: 40px;}
.customtab .nav-tabs .spanha{ background: rgba(0, 0, 0, 0.1) none no-repeat scroll 0 0;display: block;font-size: 18px;height: 100%;left: 0;padding: 15px 10px;position: absolute;text-align: center;top: 0;width: 60px;}
.tabbable.customtab ul{ border-bottom: none;}
.mrgrgt{ margin-right:3px}
.sprite{background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll 0 0;}
.sprite.chating{background-position: 0 0;height: 35px;margin: 12px 0;width: 40px;}
.customtab .nav-tabs .spanfa.faflight{background-position:-54px 7px;}
.customtab .nav-tabs .spanfa.fahotel{background-position:-120px 7px;}
.customtab .nav-tabs .spanfa.fapack{background-position:-178px 7px;}
.customtab .nav-tabs .spanfa.faact{background-position:-231px 7px;}
.customtab .nav-tabs .spanfa.farail{background-position:-285px 7px;}
.customtab .nav-tabs .spanfa.facruise{background-position:-337px 7px;}
.customtab .nav-tabs .spanfa.facar{background-position:-391px 7px;}
.customtab .nav-tabs .spanfa.fatrans{background-position:-443px 7px;}
.customtab .nav-tabs > li{ margin-bottom:0px; margin-right: 3px;}
.intabs {float: left;padding: 15px 15px 0;position: relative;width: 100%;}
.waywy {display: block;overflow: hidden;margin-bottom: 15px;}
.smalway {border-radius: 3px;float: left;overflow: hidden;}
.wament.active {background: #ca7232 none repeat scroll 0 0;}
.wament {background: #3a3935 none repeat scroll 0 0;color: #ffffff;float: left;font-size: 13px;height: 30px;line-height: 30px;padding: 0 15px;}
.wament:hover{ color:#fff;}
.marginbotom10 {float: left;
    margin-bottom: 15px;width:100%;}
.formlabel {color: #ffffff;display: block;font-size: 14px;margin: 4px 0;}
.relativemask {float: left;position: relative;width: 100%;}
.mfrom {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -56px -30px;}
.hfrom{background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -446px -30px;}
.hadult{background:rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -369px -34px;}
.hchild{background:rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -412px -34px;}
.newhpad{display: block;overflow: hidden;padding: 0 0 0 65px;}
.maskimg {height: 48px;left: 1px;position: absolute;top: 1px;width: 48px;}
.roomcount::before {color: #fff;content: "";font-family: "FontAwesome";font-size: 45px;position: absolute;right: 50px;top:-30px;}
.roomcount.fadeinn {display: block;}
.roomcount {background: #fff none repeat scroll 0 0;border-radius: 3px;box-shadow: 0 0 10px -5px #000;display: none;line-height: normal;position: absolute;right: 0;top: 55px;transition: all 400ms ease-in-out 0s;width: auto;z-index: 10000;}
.inallsn {display: table;width: 100%;padding: 15px 0;}
.roomcount .formlabel{ color:#666;}
.roomcount .selectedwrap::after{ height:38px;line-height: 38px;}
.roomcount .flyinputsnor{ height:40px;}
.ft {border: 1px solid #eeeeee;box-shadow: 0 0 10px -5px #cccccc inset;color:#666666;float: left;font-size: 14px;height: 50px;padding: 0 8px 0 55px;width: 100%;border-radius: 3px;}
.mto {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -110px -30px;}
.caln {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -166px -30px;}
.forminput {border: 1px solid #dddddd;box-shadow: 0 0 10px -5px #cccccc inset;color: #666666;float: left;height: 50px;padding: 10px 10px 10px 50px;width: 100%; font-size:14px;border-radius: 3px;}
.selectedwrap::after {background: #ffffff none repeat scroll 0 0;bottom: 1px;color: #666666;content: "";cursor: pointer;font-family: "FontAwesome";font-size: 22px;height: 48px;line-height: 48px;pointer-events: none;position: absolute;right: 1px;text-align: center;top: 1px;width: 40px;}
.selectedwrap {position: relative;}
.flyinputsnor {border: 1px solid #dddddd;box-shadow: 0 0 10px -5px #cccccc inset;color: #333333;display: block;height: 50px;overflow: hidden;padding: 10px;width: 100%;font-size:14px;border-radius: 3px;}
.formsubmit {display: block;margin: 27px 0;overflow: hidden;}
.roomnum {float: left;height: 40px;width: 96%;margin: 5px 0;}
.roomnum, .numroom {background: rgba(0, 0, 0, 0) url("../images/room.png") no-repeat scroll left 0;}
.numroom {background-position: 102% -39px;color: #fff;display: block;float: right;font-size: 13px;font-weight: bold;height: 38px;line-height: 38px;margin-right: -18px;padding-right: 25px;text-align: center;width: 100%;}
.srchbutn { background: #ef7e2c none repeat scroll 0 0;border: 1px solid #ef7e2c;border-radius: 3px;color: #ffffff;display: table;font-size: 18px;padding: 12px 5%;position: relative;text-transform: uppercase;z-index: 1000; -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.srchbutn:hover{ background:#f45104;border: 1px solid #f45104;}
.onlynumwrap {background:#ffffff none repeat scroll 0 0;border: 1px solid #dddddd;height:50px;position: relative;border-radius: 3px;}
.formlabel strong{ font-size: 11px;font-weight: normal;}
.onlynum {
    display: table;
    width: 100%;
}
.onlynum .btn.btnpot {ackground: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    display: table-cell;
    float: none;
    height: 48px;
    text-align: center;
	vertical-align: top;
	width: 33.33%;}
.onlynum .input-number{ border: medium none;
    box-shadow: none;
    display: table-cell;
    float: none;
    font-size: 22px;
    font-weight: bold;
    height: 48px;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: center;
	vertical-align: top;
    width: 33.33%;}
.banners {display: block;overflow: hidden;width: 100%;}
.banners img{ width:100%;}
/*signupsec*/
.sinupsec { background: rgba(0, 0, 0, 0) url("../images/signback.jpg") no-repeat fixed center center / cover ;float: left;position: relative;width: 100%;}
.dealshaedow{background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index: 0;}
.alllets {display: block;margin: 0 -12px;overflow: hidden;}
.inerlets {display: block;margin: 0 12px;overflow: hidden;padding: 30px 0;}
.letshed {color: #ffffff;display: block;font-size: 22px;margin: 0 0 10px;position: relative;text-align: center;}
.somecaptn {color: #ffffff;display: block;font-size: 14px;margin: 25px 0;overflow: hidden;text-align: center;}
.signupfm {display: block;margin: 0 auto;position: relative;width: 60%;}
.signupfm1{display: table;margin: 0 auto;overflow: hidden;}
.signinpt {border: 1px solid #eeeeee;color: #666666;display: block;font-size: 13px;height: 50px;overflow: hidden;padding: 0 10px;width: 100%;border-radius: 3px;}
.sbsrb {background: #ab2b33 none repeat scroll 0 0;border: 1px solid #9b1b23;color: #ffffff;font-size: 14px;height: 38px;margin: 1px 0 0 -1px;padding: 0 10px;}
.splfetpd {padding-left: 20px;}
.faftrsoc.fa {background: #f45104 none repeat scroll 0 0;border-radius: 30px;color: #ffffff;float: left;font-size: 20px;height: 40px;line-height: 40px;margin: 15px;text-align: center;width: 40px; -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.faftrsoc:hover.fa-facebook{ background:#3765a3;}
.faftrsoc:hover.fa-twitter{ background:#5ea9dd;}
.faftrsoc:hover.fa-pinterest{ background:#cb2027;}
.faftrsoc:hover.fa-linkedin{ background:#0274b3;}
.faftrsoc:hover.fa-google-plus{ background:#d62221;}
.subtbtn{ background: #f45104 none repeat scroll 0 0;border-radius: 3px;color: #ffffff;font-size: 22px;height: 40px;line-height: 40px;position: absolute;right: -5px;text-align: center;top: 5px;width: 40px; cursor:pointer;}
/*offices*/
.offices{background: #efefef url("../images/officeback.png") repeat-x scroll center bottom;float: left;padding: 30px 0 80px;position: relative;width: 100%;}
.officeul{ display: block;overflow: hidden;text-align: center;}
.offli{ color: #3c3c3c;display: inline-block;font-size: 16px;margin: 10px 30px;}
.offices .pagehed{ font-size:18px;}
/*first_footer*/
.comonfooter{background:rgba(0,0,0,0) url("../images/footerback.jpg") repeat scroll center center;float: left;padding: 30px 0 0;position: relative;width: 100%;}
.footout{display: block;margin: 0 -15px 20px;overflow: hidden;}
.futtrlogo{}
.scontone{  color: #e5e5e6;display: block;font-size: 13px;margin:20px 0;overflow: hidden;}
.scont{color: #e5e5e6;display: block;font-size: 14px;margin: 15px 0;overflow: hidden;}
.scont .fa{font-size: 16px;margin-right: 5px;}
.addresof{}
.ftitleblack{color: #e5e5e6;display: block;font-size: 18px;margin-bottom: 15px;overflow: hidden;}
.footerlistblack{}
.footerlistblack li{}
.footerlistblack li a{font-size: 14px;line-height: 28px;color: #e5e5e6;}
.footerlistblack li:hover a{ color:#fff;}
.linebraking{ height:2px; background:#383a3a; display:block; overflow:hidden; width:100%; border-bottom:1px solid #444747;}
.payments{ padding: 25px 0;text-align: center;}
.payments img{}
.cmnlast{color: #e5e5e6;display: block;overflow: hidden;padding:30px 0 10px;text-align: center;}
.lastcont{ font-size: 14px;}
.outerbtn{display: table;margin: 0 auto;}
.footerbtn{ background: #666666 none repeat scroll 0 0;border-radius: 3px;display: table;float: left;font-size: 14px;margin: 20px 10px;padding: 15px 25px; color:#e5e5e6; font-family: roboto;}
.footerbtn:hover{ color:#e5e5e6;}
.footerbotm{background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;color: #bcbcbd;font-size: 14px;padding: 20px 0;text-align: center;}
.copurit a{ color:#fe9143;}
/*agent logins*/
.agent_login_wrap {
    background: #f6f6f6 none repeat scroll 0 0;
    float: left;
    width: 100%;
}
.top80{ margin-top:80px;}
.centerfix {background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #656565;
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 100%;}
.logpadding.error{border: 1px solid #ff928b;
    box-shadow: 0 0 10px -7px #dd2828 inset;}
label.error {
    color: #cd1818;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 4px 0 0;
    overflow: hidden;
    padding: 0;
}
.onlycontent {background: #fff none repeat scroll 0 0;min-height: 300px;}
.full {float: left;width: 100%;}
.agentsign{display: table;overflow: hidden;width: 100%;}
.agentsign .leftsignimage{display: table-cell;max-width: 320px;padding: 10px;vertical-align: top;}
.agentsign .leftsignimage img {border-radius: 3px;max-width: 300px;}
.agentsign .ritsform {display: table-cell;max-width: 320px;padding: 10px;vertical-align: top;}
.wrapdivs {background: #fff none repeat scroll 0 0;display: block;overflow: hidden;padding: 15px;position: relative;}
.popuperror {background: #de3c34 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 13px;
    line-height: 12px;
    margin: -16px -16px 15px;
    overflow: hidden;
    padding: 10px;}
.pophed {border-bottom: 1px dotted #ddd;
    color: #444444;
    display: block;
    font-size: 18px;
    margin: -15px -15px 15px;
    overflow: hidden;
    padding: 10px;}
.wrapdivs .signdiv{ padding:0px;}
.agentsign .ritpul {min-width: 300px;}
.ritsform .rember {float: left;font-size: 14px;}
.forgota {color: #2aa9e0;float: right;line-height: 22px;}
.mysign1 li a i{color: #999;
    float: left;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 25px;}
.mysign1 li.log_out_li{border-radius: 0 0 5px 5px;
    margin: 0 0 -10px;
    overflow: hidden;
    padding: 0;}
.mysign1 li.log_out_li a{background: #e2e2e2 none repeat scroll 0 0;
    color: #333;
    font-size: 14px;
    padding: 10px 0;}
/*Common page heading and dots*/
.pagehed{color: #231e23;display: block;font-size: 32px;overflow: hidden;text-align: center; position:relative;}
.subcaption{ color: #464446;display: block;font-size: 15px;margin: 10px 0 5px;overflow: hidden;position: relative;text-align: center;}
.centersep {color: #ffffff;display: block;font-size: 28px;margin: 0 0 15px;overflow: hidden;position: relative;text-align: center;}
.centersep img{ position:relative;}	
.comn_icons::before {left: -120px;}
.comn_icons::after {right: -120px;}
.comn_icons::before, .comn_icons::after {background: #ddd none repeat scroll 0 0;content: "";height: 1px;position: absolute;top: 50%;width: 120px;}
.comn_icons {display: table;margin: 0 auto;padding: 0 10px;position: relative;z-index: 1;}
/*Inner page Menu*/
/* General styles for all menus */
.in_page_menu{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;float: left;
	 margin-right: 10px;}
.in_page_menu .fa{border: 1px solid #e8e8e8;border-radius: 3px;color: #666;font-size: 32px;line-height: 30px;margin: 15px 0 0;padding: 10px;transition:all 300ms ease-in-out;}
.topssec.fixed .in_page_menu .fa{margin: 10px 0 0;padding: 6px 10px;transition:all 300ms ease-in-out;}
.cbp-spmenu {background:#424a5d; border-right: 1px solid #4e5669;box-shadow: 2px 0 10px -5px #000;position: fixed;}
.cbp-spmenu-vertical {width: 240px;height: 100%;top: 0;z-index: 10000000;}
.cbp-spmenu-horizontal {width: 100%;height: 150px;left: 0;z-index: 1000;overflow: hidden;}
.cbp-spmenu-left {left: -270px;}
.cbp-spmenu-left.cbp-spmenu-open {left: 0px;}
.cbp-spmenu, .cbp-spmenu-push {	-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;}
.page_menu{float: left;margin: 80px 0 0;width: 100%;}
.page_menu li{border-bottom: 1px solid #384053;border-top: 1px solid #4b5366;float: left;width: 100%;}
.page_menu li a{color: #c2c6cb;display: block;font-size: 14px;outline: medium none;padding: 15px 10px;text-decoration: none;transition: all 0.3s ease 0s;}
.page_menu li a .fa{font-size: 15px;padding: 0 10px;}
.page_menu li a:hover{color: #fff;}

.center_not {
    display: block;
    overflow: hidden;
    padding: 50px 0;
}
.image_not {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.four_nor{color: #004d85;
    display: block;
    font-size: 150px;
    line-height: 80px;
    overflow: hidden;
    text-align: center;}
.four_nor strong{color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;}
.cancel_search {
    display: table;
    font-size: 14px;
    margin: 0 auto;
}
.cancel_search .fa{margin-right:10px;}
.veri_msg{color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 15px;
    overflow: hidden;}
.help_btn{background: #ff6633 none repeat scroll 0 0;
    border: 1px solid #ef5623;
    border-radius: 3px;
    box-shadow: 0 3px 0 0 #ef5623;
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px 0;
    transition: all 400ms ease-in-out 0s;
    width: 50%;}
.poplabel_msg{color: #666;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;}
.simtextre{border: 1px solid #ddd;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    max-width: 100%;
    min-height: 100px;
    overflow: hidden;
    padding: 10px;
    width: 100%;}

.inside_benefits{background: rgba(0, 0, 0, 0) url("../images/agent_login.png") no-repeat scroll left top;
    float: left;
    margin: 20px 0;
    min-height: 300px;
    padding: 0 0 0 260px;
    width: 100%;}
.benefits{display: block;
    overflow: hidden;
    padding: 15px 0;}
.bene_hd{color: #ef5623;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 5px 0;}
.ben_agent{}
.ben_agent li{color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
    overflow: hidden;}
.ben_agent li .fa{float: left;
    line-height: 22px;
    margin-right: 10px;}
.ben_agent li strong{display: block;
    font-weight: normal;
    overflow: hidden;}
.ui-autocomplete.ui-menu .ui-menu-item a {
    color: #333;
    font-size: 14px;
    line-height: 2;}
/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #f2ccb1 none repeat scroll 0 0;}*/
.ui-widget-content a.ui-state-focus{background: #f2ccb1 none repeat scroll 0 0;}
.nav_codesent{color: #666;
    display: block;
    font-size: 14px;
    margin: 0 0 15px;
    overflow: hidden;}
.thanks_msg{display:none;}
.thankudiv{background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #000;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 35%;}
.thankudiv .fa{color: #008a00;
    float: left;
    font-size: 50px;
    margin-right: 15px;}
.messgae_thank {
    display: block;
    overflow: hidden;
}
.messgae_thank h3{display: block;
    margin: 0 0 5px;
    overflow: hidden;}
.messgae_thank p{color: #666;
    display: block;
    font-size: 13px;
    margin: 0;
    overflow: hidden;}
.login_confirm .thankudiv{box-shadow: none;
    margin: 0 0 30px;
    width: 100%;}



.modal{z-index: 10000050;}
.modal-backdrop{z-index: 10000040;}

/* Example media queries */
@media screen and (max-width: 55.1875em){
.cbp-spmenu-horizontal {font-size: 75%;height: 110px;}
}
@media screen and (max-height: 26.375em){
.cbp-spmenu-vertical {font-size: 90%;width: 190px;}
.cbp-spmenu-left, .cbp-spmenu-push-toleft {left: -190px;}
}


/**
 * Responsive Bootstrap Tabs 
 */
@media screen and (max-width: 768px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .nav-tabs-responsive > li.active {
	margin: 0;
    width: 54%;
  }
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
	margin:0;
  }
  .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-tabs-responsive > li.prev > a:after {
    content: "\e079";
  }
  .nav-tabs-responsive > li.next > a:after {
    content: "\e080";
  }
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}




.activation{background: #fff none repeat scroll 0 0;
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 0.3);
    display: block;
    overflow: hidden;
    padding: 30px;
    position: relative;}
.close_activation.fa{border: 1px solid #ddd;
    border-radius: 100%;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 40px;}
.activation_hd{color: #2b303d;
    display: block;
    font-size: 26px;
    font-weight: 500;
    margin: 25px 0;
    overflow: hidden;
    text-align: center;}
.round_acti.fa{border: 1px solid #51bf4b;
    border-radius: 100%;
    color: #51bf4b;
    display: block;
    font-size: 40px;
    height: 100px;
    line-height: 98px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    width: 100px;}
.active_acoounts{color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-align: center;}
.mail_active{color: #333;
    display: block;
    font-size: 20px;
    margin: 5px 0;
    overflow: hidden;
    text-align: center;}
.dont_get{color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;}
.check_spam{border-top: 1px solid #ddd;
    display: block;
    font-size: 13px;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 20px 0 0;
    text-align: center;}
	
	
.agent_registration {
    display: block;
    margin: 30px auto;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.boxr {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}
.allflds {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.fldhd {
    color: #333;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 5px 0;
}
.allfields .form-group{position:relative;}
.allfields .form-control{border: 1px solid #ddd;
    border-radius: 3px;
    color: #444;
    font-size: 14px;
    height: 50px;
    padding: 10px;}
.btn_comnbtns {background: #f88c3e none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.iconft{display: block;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;}

.logo_uploader{border-radius: 100%;
    display: block;
    height: 140px;
    margin: 20px auto 10px;
    overflow: hidden;
    position: relative;
    width: 140px;}
.default_upload{}
.hideid_upload{bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;}
.text_file{ color: #666;
    display: block;
    font-size: 15px;
    overflow: hidden;
    text-align: center;}
.boxr:nth-child(1){border-left: 6px solid #58cc81;}
.boxr:nth-child(2){border-left: 6px solid #3f9dd1;}
.boxr:nth-child(3){border-left: 6px solid #f39943;}
.boxr:nth-child(4){border-left: 6px solid #4874a3;}
.mandatory{color: #f16362;
    font-size: 40px;
    line-height: 50px;
    position: absolute;
    right: 5px;
    top: 0;}
.agent_re{border-top: 1px solid #ddd;
    display: block;
    font-size: 14px;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 20px 0 0;
    text-align: center;}
.null_effective {
    float: right;
}
.navbak.fa {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 24px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
}
.rit_agent{float:right;}

.in_page_menu{display:none;}


@media screen and (max-width: 1200px){
.modifycontrolsno{display:none;}
}

@media screen and (max-width: 991px){
.tagline{display:none;}
.customtab .nav-tabs .spanfa{display:none;}
.customtab .nav-tabs li a{padding:10px 15px;}
.rit_agent{float:none;}
}

@media screen and (max-width: 768px){
.customtab .nav-tabs .spanfa{display:block;}
.customtab .nav-tabs li a{padding:10px 30px;}
.tagline{display:none;}
.nav-pills > li.csupport{display:none;}
.in_page_menu{
    display: block;
}
.in_page_menu .fa, .topssec.fixed .in_page_menu .fa{margin: 10px 0 0;
    padding: 6px 10px;}
.logo img, .topssec.fixed .logo img {
    max-width: 120px;}
.topssec .ritsude {
    padding: 3px 0;
}
.topssec {
    height: 65px;
}
.topssec.fixed .logo {
    padding: 13px 0;
}

.searchtabs{margin-top: 80px;}
.topa{margin:0;}
.payments img{max-width:100%;}
.footerbtn{float:none; margin:10px auto;}
.searchtabs{background:#fff;}

.customtab .tab-content{padding: 0 10px;}
.top80 {
    margin-top: 65px;
}
.contentsdw{padding:0;}
.inside_benefits{background:none;padding:0;}
.fldhd{text-align:center;}

}

@media screen and (max-width: 650px){
.null_effective{background: #fff none repeat scroll 0 0;
    float: left;
    width: 100%;}
.topssec, .topssec.fixed {
    height: auto;
	position:static;
}
.dropdown-menu.mysign1{left:-30px; right:auto;}
.mysign1::before{left:0;}
.insigndiv {
    width: 100%;
}
.login_after .dropdown-menu.mysign1 {
    left: auto;
    right: 0;
}
.login_after .mysign1::before {
    right: 15px;
	left:auto;
}
.whenfixmar{margin:0;}
.fiveh {
    padding: 0 5px;
}
.top80{margin:0;}
}
@media screen and (max-width: 460px){
.flags, .userorlogin{font-size:13px;}
.flags{margin: 0 5px 0 0;}
.srchbutn{font-size:14px;}
.faftrsoc.fa{margin:5px;}
.nav-tabs-responsive > li.next a, .nav-tabs-responsive > li.prev a{padding: 10px 0;}
.tabbable.customtab {
    margin: 0 -15px;
}
.inside_agent {
    display: block;
    margin: 0 -15px;
    overflow: hidden;
}

}


@media screen and (max-width: 400px){
#agent_signup {
    position: absolute;
    right: 10px;
    top: 0;
}
}
.agent_login_wrap_height{
	min-height: 508px;
	max-height: 508px;
	
}
