/*modify_search*/
.allpagewrp{ float:left; width:100%;    margin-top: 77px;}
.newmodify {float: left;width: 100%;
	background:#f0f0f0; padding: 8px 0 4px;
}
.contentsdw { margin-top: 0px; float: left;padding: 6px 0;width: 100%;
}
.pad_ten {float: left;padding: 0px;width: 100%;
}
.sprite.marker_icon {background-position: -97px -260px;
}
.sprite.calendar_icon {background-position: -181px -261px;
}
.sprite.pasnger_icon {background-position: -269px -261px;
}
.disabled {opacity: 0.2;
}
.left_icon {float: left;height: 40px;width: 40px; opacity: 0.4;
}
.from_to_place {display: block;overflow: hidden;padding-left: 10px;
}
.placename {color: #5f5f5f;display: block;font-size: 13px;margin: 0 0 8px;overflow: hidden; font-weight:normal;
}
.contryname {display: block;font-size: 13px;margin: 0;overflow: hidden;
	color:#000000; font-weight:normal;
}
.boxlabl {color: #000;display: block;font-size: 13px;margin: 0 0 5px;overflow: hidden;
}
.boxlabl strong{margin-right: 5px;}
.faldate.fa {margin-right: 6px;
}
.datein {color: #000;display: block;font-size: 13px;overflow: hidden;
	margin-top: -3px;
}
.countlbl {color: #000;display: block;font-size: 16px;overflow: hidden;margin-top: -3px;
}
.modifysrch {
   background: #fdb813 none repeat scroll 0 0;
    border: 1px solid #fdb813;
    border-radius: 3px;
    float: right;
    color: #fff;
    font-size: 16px;
    height: 50px;
    padding: 0 30px 0 7px;
    text-transform: uppercase;
    position: relative;
    /* width: 93%; */
    padding: 5px 45px;
}
.modifysrch strong{font-weight:normal;}

.inmodify {background: #f2f2f2 none repeat scroll 0 0;display: block;overflow: hidden;
}
.modify_search_wrap{ float:left; width:100%;background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;}
.modify_search_wrap .modifycontrols{ width:100%;}
.modify_search_wrap .modifycontrolsno{ display:none;}
.modify_search_wrap .whenfixmar{ margin:0px;}
.modify_search_wrap .onlynum .btn.btnpot{ float:right;display: table-cell;}
.modify_search_wrap .onlynum .btn.btnpot:first-child{ float:left;}
.modify_search_wrap .onlynum .form-control{ display:table-cell; float:none;}
.modify_search_wrap #modify{ }
.modify_search_wrap .tab-content{ background:none;}

/*flight_results*/
.contentsec {
    background: #f1f5f8 none repeat scroll 0 0;
    float: left;
    width: 100%;
    position: relative;
}
.filtrsrch {
   float: left;margin: 0 0 20px;position: relative;width: 100%;
}
/*left_side*/
.col30 {float: left;width: 25%;
}
.celsrch {background:none; /*border: 1px solid #e5e4e4;box-shadow: 0 0 8px #e5e4e4;*/float: left; margin-top: 20px;
	position: relative;width: 100%;
}
.boxtop {
    background: #fff none repeat scroll 0 0;
    /* border-bottom: 1px solid #0079c2; */
    color: #ffffff;
    float: left;
    padding: 13.5px 10px;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}
/*.boxtop::after {background: #f53e3d url("../images/sprite.png") no-repeat scroll -152px -339px;border: 5px solid #ffffff;border-radius: 30px;bottom: -30px;content: "";height: 50px;left: 40%;position: absolute;width: 50px;
}*/
.filtersho {
    color: #0079c2;
    display: block;
    font-size: 14px; line-height: 26px;
    margin: 0px 0; float: left;
    overflow: hidden;
}
.boxtop #reset { padding: 2px 12px; }
.avlhtls {color: #0079c2;font-size: 16px;
}
.avlhtls strong {
    color: #000;
    font-weight: normal;
}
.placenamefil {
    color: #fff;
    display: none;
    font-size: 16px;
    margin: 0px 0;
    overflow: hidden;
    text-align: left;
    float: none;
}
.nrow {color: #eee;display: block;font-size: 13px;overflow: hidden;text-align: center;}
.norfilterr { float: left;width: 100%;}
.outbnd{display: block;overflow: hidden;}

.rangebox {
    border: 1px solid #e4ebf1;
    display: block;
    margin: 0 0 8px;
    overflow: hidden;
    padding: 0px 0px;
    background: #ffffff;
    border-radius: 3px;
    border-bottom: 2px solid #e4ebf1;
}

.ranghead {
    color: #222;
    display: block;
    font-size: 16px;
    overflow: hidden;
    padding: 11px 10px;
    background: none repeat scroll 0 0 rgb(249, 249, 249);
}


.price_slider1 {
    margin: 0 0 15px;
    padding: 10px 35px!important;
    z-index: 1;
    position: relative;
}
.stoprow {
    display: block;
    overflow: hidden;
    padding: 10px 15px;
}
.level {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #203f7c;
    font-weight: 600;
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.price_slider1 .ui-widget-content {
    background: #203f7c none repeat scroll 0 0;
    border-radius: 30px !important;
    box-shadow: none;
    height: 4px;
}
.price_slider1 .ui-widget-header {
    background: #92c83e none repeat scroll 0 0;
    box-shadow: none;
}
.price_slider1 .ui-state-default, .price_slider1 .ui-widget-content .ui-state-default, .price_slider1 .ui-widget-header .ui-state-default {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    /*margin-left: -14px;*/
    top: -7px;
    width: 20px;
    border: 5px solid #92c83e;
}
.septor {background: #e2e2e2 none repeat scroll 0 0;border-bottom: 1px solid #fafafa;display: block;height: 2px;margin: 12px 0;overflow: hidden;
}

.boxins { padding: 0px; }
.stopone {float: left;position: relative;text-align: center;width: 33.333%; }
.relatboxs{display: block;height: 25px;line-height: 25px;position: relative;width: 100%;}
.relatboxs::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;content: "";height: 6px;left: 0;position: absolute;right: 0;top: 42%;z-index: 0;}
.rounds {background: #c4c3c2 none repeat scroll 0 0;border: 3px solid #ffffff;border-radius: 30px;cursor: pointer;height: 25px;position: relative;width: 25px;z-index: 1; margin:0px;}
.toglefil.active .rounds {background: #fbc800 none repeat scroll 0 0;}
.toglefil.active .rounds::after {color: #fff;content: "";display: block;font-family: fontawesome;font-size: 12px;font-weight: 100;left: 0;
	right:0; top:0;line-height: 18px;position: absolute;text-align: center;}
.relatboxsone{display: block;position: relative;width: 100%; float:left;}

.starin {display: block;font-size: 14px;overflow: hidden;text-align: center;}
.stopbig {color: #353535;display: block;font-size: 18px;overflow: hidden;}
.stopsml {color: #999;font-size: 12px;}
.htlcount {color: #525252;display: none;font-size: 13px;margin: 0px 2px;overflow: hidden;padding: 9px 0; background: #ddd none repeat scroll 0 0; border-radius: 3px;}
.active .htlcount {  background: #0079c2; color: #fff; }
.locationul{display: block;overflow: hidden;position: relative; padding: 10px 0;}
/*.locationul::after {
    background: #ececec none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    content: "";
    left: 10px;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 0;
}*/

.padlow{ padding:10px 0; float: left; width: 100%;}
.timone {float: left;position: relative;text-align: center;width: 25%;}
.sprte.png1 {background-position: -95px -459px;height: 40px;margin: 0 auto;width: 50px;}
.sprte.png2 {background-position: -183px -459px;height: 40px;margin: 0 auto;width: 50px;}
.sprte.png3 {background-position: -273px -459px;height: 40px;margin: 0 auto;width: 50px;}
.sprte.png4 {background-position: -363px -459px;height: 40px;margin: 0 auto;width: 50px;}
.locationul li {
    float: left;
    margin: 0 0 15px;
    width: 100%;
}
.squaredThree input[type="checkbox"] {
    visibility:hidden;
    margin:0
}
.squaredThree {
    float: left;
    margin-right: 8px;
    position: relative;
    width: 20px;z-index: 1;
}
.squaredThree label {
    left: 0;
    position: absolute;
    top: 0;
     background: #c4c3c2 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 22px;width: 22px;
}
.squaredThree label::after {
 /*-moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: -moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 10px;*/

}
.squaredThree label:hover::after {
 opacity: 0.3;
}
.squaredThree input[type="checkbox"]:checked + label::after {
 opacity: 1;    
 content: "\f00c";
    display: block;
    font-family: fontawesome;
    font-size: 12px;
    font-weight: 100;
    left: 0px;
    right: 0px;
    top: 0px;
    line-height: 18px;
    position: absolute;
    text-align: center;
}
.squaredThree input[type="checkbox"]:checked + label {
    background:#0079c2;color: #fff;
}
.lbllbl {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
}
.filter_input{border: 1px solid #ddd;border-radius: 3px;color: #666;float: left;font-size: 13px;height: 50px;padding: 0 10px;width: 100%;}
.hotel_star_filter .timone{width:20%;}
.star_image{height: 40px;margin: 0 auto;width: 40px;}
.sprte.star_1{background-position: 15px -543px;}
.sprte.star_2{background-position: -35px -543px;}
.sprte.star_3{background-position: -85px -543px;}
.sprte.star_4{background-position: -140px -543px;}
.sprte.star_5{background-position: -185px -543px;}

/*right_side*/
.col70 {float: left;width: 75%;
}
.in70 {display: block;float: left;padding: 20px 0 0 20px;width: 100%;
}
.topmisty.hote_reslts .insidemyt{border:none;}
.topmisty.hote_reslts .sortul{border: 1px solid #ddd;float:left; width:100%;}
.topmisty.hote_reslts .sortli{width:33.33%;}
.rit_view{float: right;}
.view_type{border: 1px solid #ddd;border-radius: 2px;cursor: pointer;
	box-shadow: 0 0 10px -5px #000;color: #555;float: left;font-size: 14px;line-height: 35px;margin-left: 10px;padding: 0 10px;}
.view_type .fa{color: #91a9b1;margin-right: 8px;}
.view_type.active{background: #fdb813 none repeat scroll 0 0;
    box-shadow: none;
    color: #fff;
    border: 1px solid #fdb813;
}
.view_type.active .fa { color: #fff; }
.topmisty {
   background: #ffffff none repeat scroll 0 0;display: block;float: left;margin: 0 0 0px;width: 100%; padding: 10px;
}

.insidemyt {border: 1px solid #ddd;display: block;overflow: hidden;
}
.sortul {display: block;overflow: hidden;
}
.sortli {float: left;width: 20%;
}
.sorta,.sortactivity {border-right: 1px solid #eae8e8;color: #474747;display: block;font-size: 14px;font-weight: 300;height: 35px;line-height: 35px;overflow: hidden;padding: 0 10px 0 0;position: relative;
}
.sorta:hover,.sortactivity:hover{color: #474747;}
.sirticon.fa {
  color: #fdb813;
  float: left;
  font-size: 14px;
  line-height: 35px;
  margin: 0 10px;
  text-align: center;
  width: 25px;
  font-weight: 600;
}
.sirticon.sort1{background-position: -100px -345px;}
.sirticon.sort2{background-position: -227px -345px;}
.sirticon.sort3{background-position: -298px -345px;}
.sirticon.sort4{background-position: -366px -347px;}
.sirticon.sort5{background-position: -422px -347px;}
.sorta.des::after,.sortactivity.des::after {color: #999999;content: "";font-family: "FontAwesome";margin-left: 10px;position: absolute;right: 15px;
}
.sorta.ase::after,.sortactivity.ase::after {color: #999999;content:"\f0d7";font-family: "FontAwesome";margin-left: 10px;position: absolute;right: 15px;
}
.allresult {display: block;margin: 10px 0 0;height:auto; position: relative;
	float:left; width:100%;
}
.rowresult {display: block;position: relative;transition: all 400ms ease-in-out 0s;
}
.carttoloadr{background: rgba(255, 255, 255, 0.9) url("../images/loader.gif") no-repeat scroll center center;border-radius: 10px;bottom: 0;box-shadow: 0 0 10px -5px #909090;display: none;left: 0;min-width: auto;position: fixed;right: 0;text-align: center;top: 0;z-index: 1000000;}
.carttoloadr strong {bottom: 39%;color: #333;display: block;font-size: 18px;font-weight: normal;left: 0;
    /*overflow: hidden;*/position: absolute;right: 0;text-align: center;
}
.madgrid {background: #ffffff none repeat scroll 0 0;border: 1px solid #e6e6e6;box-shadow: 0 0 5px #e6e6e6;display: block;float: left;margin: 5px 0;overflow: hidden;width: 100%;
}
.madgrid .listfull {border-right: 1px solid #dddddd;
}
.nobord{ border-right:none;}
.rndplace {color: #60605f;display: block;font-size: 14px;overflow: hidden;
}
span.farrow {display: inline-block;font-size: 14px;height: 12px;position: relative;text-align: center;width: 30px;
}
.sidenamedesc {display: block;width: 100%;
}
.celhtl {float:left;
}

.width32 {width: 32%!important;}
.width50{width: 50%!important;}
.width18{width: 18%!important;}

/*
.hotel_image::before{bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: 0;}
*/
.hotel_image {border: 1px solid #eee;display: block;height: 160px;line-height: 80px;margin:5px;overflow: hidden;
	position:relative;text-align: center;}
.hotel_image > img {min-height: 160px;max-height:160px;position: relative;width: 100%;z-index: 1;}

.hotel_location.fa{background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin: -25px auto auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 80px;
    -webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
    -webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
    width: 50px;
    z-index: 10;}
.madgrid:hover .hotel_location.fa{-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;}

.stra_hotel{display: block;  overflow: hidden;}
.stra_hotel .fa{color: #91a9b1;font-size: 13px;margin: 5px 2px;}
.stra_hotel[data-star="5"] .fa:nth-child(1), 
.stra_hotel[data-star="5"] .fa:nth-child(2), 
.stra_hotel[data-star="5"] .fa:nth-child(3), 
.stra_hotel[data-star="5"] .fa:nth-child(4), 
.stra_hotel[data-star="5"] .fa:nth-child(5),
.stra_hotel[data-star="4"] .fa:nth-child(1), 
.stra_hotel[data-star="4"] .fa:nth-child(2), 
.stra_hotel[data-star="4"] .fa:nth-child(3), 
.stra_hotel[data-star="4"] .fa:nth-child(4),
.stra_hotel[data-star="3"] .fa:nth-child(1), 
.stra_hotel[data-star="3"] .fa:nth-child(2), 
.stra_hotel[data-star="3"] .fa:nth-child(3),
.stra_hotel[data-star="2"] .fa:nth-child(1), 
.stra_hotel[data-star="2"] .fa:nth-child(2),
.stra_hotel[data-star="1"] .fa:nth-child(1){ color:#f88c3e;}	 	 	 	


.hotel_address{color: #666;display: block;font-size: 14px;overflow: hidden;padding: 4px 0;}
.hotel_info{color: #666;display: block;font-size: 13px;height: 80px;line-height: 20px;overflow: hidden;}
.elipsetool{display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


.airlinename {
   color: #666;display: block;overflow: hidden;padding: 3px 15px;text-align: left; 
}
.width70 {width: 70%;
}
.sprite.reflone{background-position: -100px -404px;float: left;height: 30px;width: 40px; margin-right: 5px;}
.sprite.refltwo{background-position: -194px -404px;float: left;height: 30px;width: 40px; margin-right: 5px;}
.sprite.retime{background-position: -291px -404px;float: left;height: 20px;width: 20px;margin-right: 5px;}
.sprite.faredetail{background-position:-412px -403px;float: left;height: 25px;margin-right: 5px;width: 25px;}
.sprite.fldetail{background-position: -351px -404px;float: left;height: 25px;margin-right: 5px;width: 25px;}
.flname{font-size: 26px;}
.fltime{font-weight: 500;margin-left: 10px;}
.right {float: right;
}
.left{ float:left;}
.waymensn {display: block;overflow: hidden;
}
.flitruo_hotel {display: block;margin: 5px 0;overflow: hidden;padding: 0 10px 0 0;
}
.ifroundway .flitruo {border-bottom: 1px dashed #ddd;
}
.ifroundway .flitruo:last-child{ border-bottom:none;}
.oneplus{ display:none;background: #e0e0e0 none repeat scroll 0 0;}
.oneonly{opacity:0;}
.plusone .oneplus{ display: inline-block;}
.morestop .oneonly{ opacity:1;}
.ifroundway .fligthsmll{margin: 90px 10px 10px;}
.hoteldist {display: block;overflow: hidden;
}
.modal-backdrop{z-index: 10000000;}
.modal{z-index: 100000000;}
.detlnavi .widfty:first-child {text-align: right;
}
.timlbl {
   color: #07253f;display: block;font-size: 20px;overflow: hidden;
	 
}
.flitrlbl {color: #2d2b29;display: block;font-size: 14px;font-weight: 300;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.flicent.fa {background: #b0cdee none repeat scroll 0 0;border-radius: 30px;color: #555555;display: table;font-size: 16px;height: 30px;line-height: 30px;margin: 8px auto;text-align: center;width: 30px;
}
.lyovrtime {display: block;text-align: center;width: 100%;
}
.flect {
	color: #2d2b29;display: table;font-size: 14px;margin: 0 auto auto;padding: 5px 10px;
}
.flects {
   border: 1px solid #dddddd;color: #666666;display: table;font-size: 14px;margin: 8px auto auto;padding: 5px 10px; position:relative;
}
.instops{display: block;height: 25px;line-height: 25px;position: relative;width: 100%;}
.instops::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;content: "";height: 6px;left: 30px;position: absolute;right: 30px;top: 30%;z-index: 0;
}
.instops .rounds{ width:20px; height:20px;}
.detailsflt:hover{color: #07253f;}
.mrinfrmtn {background: #f6f6f6 none repeat scroll 0 0;display: block;float: left;overflow: hidden;width: 100%;
}
.detailsflt {color: #07253f;display: block;float: left;font-size: 14px;line-height: 25px;overflow: hidden;padding: 9px 10px;
}
.flects::before {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -239px -51px;content: "";height: 15px;left: 50%;margin-left: -14px;position: absolute;top: -11px;width: 28px;
}
.flightimage {display: block;max-height: 130px;overflow: hidden;
}
.hotel_sideprice {background: #fff none repeat scroll 0 0;
    display: block;
    height: 170px;
    overflow: hidden;
    text-align: center;
    padding-top: 6px;
   
}
.sideprice_hotel {
   font-size: 20px;
    display: block;
    font-weight: 600;
    color: #203f7c;
   line-height: 43px;
    margin-top: 30px;
    text-align: center;
}
.bookbtn_htl {
   border-radius: 3px;
    display: block;
    margin: 10px;
    overflow: hidden;
}
.booknow {
    background: linear-gradient(to bottom, #fdb813 1%,#fdb813 100%);
    background: -webkit-linear-gradient(to bottom, #fdb813 1%,#fdb813 100%);
    background: -moz-linear-gradient(to bottom, #fdb813 1%,#fdb813 100%);
    color: #fff;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 9px 0px;
    width: 115px;
    text-align: center;
    border-radius: 3px;
    margin: 0px auto;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.booknow:hover {
    color: #fff;
    background: -webkit-linear-gradient(top, #203f7c 0%,#203f7c 29%,#203f7c 50%,#203f7c 100%);
        text-decoration: none;
}


/*fare_calender*/
.farecaled {float: left;padding: 0 0 15px;width: 100%;
}
.farenewcal {background: #ffffff none repeat scroll 0 0;float: left;width: 100%;
}
.matrx {float: left;padding: 0 30px;width: 100%;
}
.pricedates {background: #f7f7f7 none repeat scroll 0 0;display: block;height: 60px;margin: 0 3px;overflow: hidden;padding: 10px 0;text-align: center;
}
.imgemtrx_plusmin {float: left;height: 40px;line-height: 40px;margin: -3px 0 0;overflow: hidden;padding: 0 5px;text-align: center;width: 60px;
}
.imgemtrx_plusmin img {width: 100%;
}
.alsmtrx strong {color: #6b6b6b;display: block;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: left;
}
.mtrxprice { color: #313131;display: block;font-size: 14px;overflow: hidden;text-align: left;
}
.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev, .matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next { border-radius: 0;bottom: 0;margin: 0;padding: 0;position: absolute;text-indent: -99999px;top: 0;width: 35px;z-index: 10;
}
.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev {background:#f88c3e url("../images/sprite.png") no-repeat scroll -304px -26px; left: -31px;}
.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next {background: #f88c3e url("../images/sprite.png") no-repeat scroll -336px -26px;right: -31px;}
.matrixcarsl .owl-controls.clickable{ margin-top:0px;}

/*flight_details*/
.modal .propopum{ display:block;}
.propopum {background: #fff none repeat scroll 0 0;border-radius: 5px;display: none;margin: 30px auto auto;max-width: 1200px;overflow: hidden;position: relative;width: 100%;
}
.popuphed, .popconyent, .popfooter {float: left;width: 100%;
}
.popuphed .close{background: #000 none repeat scroll 0 0;border-radius: 30px;color: #fff;font-size: 20px;font-weight: normal;height: 30px;position: absolute;right: 10px;text-align: center;top: 10px;width: 30px;}
.hdngpops {background: #eee none repeat scroll 0 0;color: #333;display: block;font-size: 22px;font-weight: 300;overflow: hidden;padding: 10px 20px;
}
.hdngpops .fa {color: #999;font-weight: normal;margin: 0 10px;
}
.contfare {display: block;margin: 15px;overflow: hidden;
}
.nav-tabs.flittwifil {border: 0 none;margin: 0 -2px;
}
.contfare .nav-tabs.flittwifil {margin: 0;
}
.popconyent .nav-tabs > li {border-right: medium none;
}
.nav-tabs.flittwifil li {margin: 0 5px 0 0;width: auto;
}
.nav-tabs.flittwifil li.active::after {bottom: -3px;color: #ef7e2c;content: "";font-family: "FontAwesome";font-size: 30px;left: 0;line-height: 0;position: absolute;right: 0;text-align: center;
}
.nav-tabs.flittwifil li a {background: #e6e5e5 none repeat scroll 0 0;border-radius: 3px;color: #666;font-size: 16px;height: 50px;line-height: 50px;margin: 0;padding: 0 10px;text-align: center;
}
.nav-tabs.flittwifil li.active a, .nav-tabs.flittwifil li.active a:hover {
   background: #ef7e2c none repeat scroll 0 0;border: 0 none;color: #fff;
}
.tab-content {box-shadow: none;margin-bottom: 30px;
}
.tabmarg {display: block;margin: 15px 0 0;overflow: hidden;
}
.alltwobnd {display: table;width: 100%;
}
.popconyent .cloroutbnd {background: #f0f2fe none repeat scroll 0 0;
}
.celion {display: table-cell;float: none;vertical-align: top;
}
.inboundiv {
   border: 1px solid #eee;border-radius: 3px;display: block;margin: 5px;overflow: hidden;padding: 10px;
}
.hedtowr {border-bottom: 1px dashed #ddd;color: #333;display: block;font-size: 16px;font-weight: 500;overflow: hidden;padding: 0 0 15px;
}
.hedtowr strong {color: #666;font-weight: 300;
}
.flitone {display: block;margin: 0 -15px;overflow: hidden;padding: 10px 0;
}
.imagesmflt {float: left;margin-right: 5px;
}
.flitsmdets {display: block;line-height: 14px;overflow: hidden;
}
.flitsmdets strong {color: #666;display: block;font-weight: 300;margin: 5px 0 0;overflow: hidden;
}
.dateone {display: block;font-size: 14px;font-weight: 500;overflow: hidden;
}
.termnl {color: #333;display: block;overflow: hidden;
}
.temnldr {color: #888;display: block;overflow: hidden;
}
.arocl.fa {color: #666;display: block;font-size: 14px;margin: 10px 0;overflow: hidden;text-align: center;
}
.ritstop {display: block;overflow: hidden;text-align: right;
}
.termnl1 {display: block;margin: 0 0 3px;overflow: hidden;
}
.farehdng {color: #666;display: block;font-size: 18px;margin: 0 0 15px;overflow: hidden;
}
.rowfare {border-bottom: 1px solid #eee;color: #666;display: block;font-size: 14px;overflow: hidden;padding: 10px 0;
}
.norpopbtn {
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	margin-left: 10px;
	padding: 6px 10px;
}
.futrcnt {
	background: none repeat scroll 0 0 #f9f9f9;
	display: block;
	overflow: hidden;
	padding: 10px;
}
.detail_section{}




.flight_datails .imagesmflt {display: block;float: none;margin-right: 0;overflow: hidden;text-align: center;
}
.flight_datails .flitsmdets{text-align:center;}
.detail_section .flname {font-size: 16px;
}
.detail_section .sprite.reflone{float:right;margin: 0;}
.centovr {background: #f4e4d8 none repeat scroll 0 0;border-radius: 30px;color: #333;display: block;font-size: 13px;margin: 5px 0;overflow: hidden;padding: 5px;text-align: center;
}
.flight_datails .alltwobnd {display: block;margin: 0 -5px;overflow: hidden;
}
.rowfare:last-child {border: 0 none;
}
.rowfare .pricelbl {color: #333;}
.grandtl .infolbl{color: #df5800;display: block;margin: 5px 0 0;overflow: hidden;}
.grandtl .pricelbl{color: #f96800;font-size: 18px;}
.inboundiv.grand_totall{background: #f2f2f2;}

.filter_show{ background: #dd2a1b  none repeat scroll 0 0;border: 0 none;border-radius: 100%;box-shadow: 0 1px 3px -2px #000;color: #fff;
	display:none;font-size: 18px;height: 40px;left: 0;position: absolute;top: -2px;width: 40px;z-index: 99;}
.close_filter{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;color: #c85c10;
	display:none;font-size: 18px;padding: 5px;position: absolute;right: 0;width: 40px;z-index: 10;}

.side_amnties{display: block;
    margin: 10px 0px 0;
    overflow: hidden;}
.hotel_fac li{background: #eaeaea url("../images/hotel_aminities.png") no-repeat scroll 0 0;
    border: 5px solid #eaeaea;
    border-radius: 30px;
    float: left;
    height: 35px;
    margin: 4px 5px;
    width: 35px;}


.hotel_fac li.IN {background-position: -58px -172px;}
.hotel_fac li.BC {background-position: -3px -663px;}
.hotel_fac li.BP {background-position: -58px -144px;}
.hotel_fac li.BQ {background-position: -58px -314px;}
.hotel_fac li.BS {background-position: -114px -541px;}
.hotel_fac li.CP {background-position: -58px -227px;}
.hotel_fac li.CR {background-position: -58px -625px;}
.hotel_fac li.DF {background-position: -58px -738px;}
.hotel_fac li.EC {background-position: -58px -369px;}
.hotel_fac li.GF {background-position: -58px -712px;}
.hotel_fac li.GY {background-position: -57px -768px;}
.hotel_fac li.HP {background-position: -58px -342px;}
.hotel_fac li.IP {background-position: -114px -909px;}
.hotel_fac li.KP {background-position: -113px -229px;}
.hotel_fac li.LF {background-position: -58px -512px;}
.hotel_fac li.LY {background-position: -115px -880px;}
.hotel_fac li.PT {background-position: -115px -313px;}
.hotel_fac li.OP {background-position: -114px -284px;}
.hotel_fac li.RS {background-position: -114px -397px;}
.hotel_fac li.SA {background-position: -114px -541px;}
.hotel_fac li.SH {background-position: -114px -1164px;}
.hotel_fac li.SO {background-position: -114px -456px;}
.hotel_fac li.TA {background-position: -58px -625px;}
.hotel_fac li.TE {background-position: -115px -739px;}
.hotel_fac li.AC {background-position: -58px -2px;}
.hotel_fac li.AW {background-position: -115px -201px;}
.hotel_fac li.DD {background-position: -115px -201px;}
.hotel_fac li.FI {background-position: -114px -823px;}
.hotel_fac li.HD {background-position: -3px -273px;}
.hotel_fac li.LT {background-position: -115px -30px;}
.hotel_fac li.MB {background-position: -115px -341px;}
.hotel_fac li.RA {background-position: -115px -796px;}
.hotel_fac li.SV {background-position: -58px -30px;}
.hotel_fac li.TP {background-position: -59px -86px;}
.hotel_fac li.TV {background-position: -114px -823px;}
.hotel_fac li.VL {background-position: -115px -968px;}
.hotel_fac li.VL2 {background-position: -114px -1023px;}
.hotel_fac li.CM {background-position: -58px -400px;}
.hotel_fac li.FD {background-position: -85px -965px;}
.hotel_fac li.SY {background-position: -3px -213px;}
.hotel_fac li.AT { background-position: -2px -483px;}
.hotel_fac li.BB {background-position: -85px -907px;}
.hotel_fac li.BI {
  background-position: -58px -567px;
}
.hotel_fac li.BO {
  background-position: -114px -1164px;
}
.hotel_fac li.BT {
  background-position: -58px -314px;
}
.hotel_fac li.CS {
  background-position: -114px -567px;
}
.hotel_fac li.CL {
  background-position: -86px -880px;
}
.hotel_fac li.CY {
  background-position: -113px -257px;
}
.hotel_fac li.DM {
  background-position: -114px -768px;
}
.hotel_fac li.FP {
  background-position: -58px -115px;
}
.hotel_fac li.FL {
  background-position: -3px -241px;
}
.hotel_fac li.GR {
  background-position: -58px -540px;
}
.hotel_fac li.GT {
  background-position: -58px -682px;
}
.hotel_fac li.HE {
  background-position: -113px -285px;
}
.hotel_fac li.JT {
  background-position: -115px -1107px;
}
.hotel_fac li.MS {
  background-position: -114px -1080px;
}
.hotel_fac li.NC {
  background-position: -58px -597px;
}

.hotel_fac li.PC {
  background-position: -2px -513px;
}
.hotel_fac li.SP {
  background-position: -114px -2px;
}
.hotel_fac li.VP {
  background-position: -3px -183px;
}
.hotel_fac li.BU {
  background-position: -58px -143px;
}
.hotel_fac li.VL3 {
  background-position: -115px -993px;
}
.hotel_fac li.AP {
  background-position: -115px -144px;
}
.hotel_fac li.VL4 {
  background-position: -114px -1050px;
}

.hotel_fac li.CF {
  background-position: -58px -285px;
}
.hotel_fac li.CK {
  background-position: -32px -392px;
}
.hotel_fac li.NM {
  background-position: -115px -86px;
}
.hotel_fac li.SS {
  background-position: -115px -624px;
}
.hotel_fac li.WP {
  background-position: -115px -681px;
}
.hotel_fac li.PS {
  background-position: -115px -597px;
}
.hotel_fac li.FS {
  background-position: -114px -1220px;
}
.hotel_fac li.CA {
  background-position: -58px -1024px;
}

.hotel_map{float: left;
    height: 500px;
    margin: 5px 0;
    transition: all 300ms ease-in-out 0s;
    width: 0;}
.hotels_results{float:left;width:100%;transition:all 300ms ease-in-out;}
.map_hotel {
    background: none repeat scroll 0 0 #e5e3df;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 10;}


.allresult.map_open .hotel_map{width:80%;transition:all 300ms ease-in-out;}
.allresult.map_open .hotels_results{height: 500px;
    overflow-y: scroll;
    transition: all 300ms ease-in-out 0s;
    width: 20%;}

.allresult.map_open .stra_hotel, .allresult.map_open .hotel_address, .allresult.map_open .side_amnties, .allresult.map_open .width18{display:none;}
.allresult.map_open .width32, .allresult.map_open .width50{width:100%;}
.allresult.map_open .width32 .hotel_image > img{max-width: 250px;}
.allresult.map_open .flitruo_hotel {
    margin: 0 0 10px;
    padding: 0 10px;
    text-align: center;
}
.allresult.map_open .hotel_name {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map_hotel_pop{float: left;
    height: 400px;
    width: 100%;}

.rit_view a strong{
  font-weight: normal;
}

@media screen and (max-width:1200px){
.propopum{width:95%;}
}


@media screen and (max-width: 991px){
.col30 {display:none;position: absolute;width: 45%;z-index: 100;
}
.col70{width:100%;}
.in70{padding:20px 0 0;}
.insidemyt {margin-left: 50px;}
.filter_show, .close_filter{display:block;}
.filtrsrch.open .col30{display:block;}
}

@media screen and (max-width: 850px){
.alltwobnd .ways_one{width:100%;}

}



@media screen and (max-width: 768px){
.sirticon{display:none;}
.sorta,.sortactivity{padding:0 10px; text-align:center;}
.flname {font-size: 16px;
}
.sprite.reflone, .sprite.refltwo{display:none;}
.fare_flight{display:none;}
.sideprice{font-size:18px;}
.fare_full{width:100%;}
.rit_view a strong{
  display: none;

}
.view_type{
  margin: 0 !important;
  padding: 0 5px;
}
.madgrid .sidenamedesc .celhtl.width32 {
    width: 40%!important;
}
.madgrid .sidenamedesc .celhtl.width50 {
    width: 60%!important;
}
.madgrid .sidenamedesc .celhtl.width18 {
    width: 100% !important;
}
.celhtl.width18 .hotel_sideprice .outdv{
  width: 60%!important;
  float: left!important;
}
.celhtl.width18 .hotel_sideprice .bookbtn_htl{
 border-radius: 0;
margin: 0;
width: 40%;
}
.sideprice_hotel {
    float: left !important;
}
.celhtl.width18 .hotel_sideprice .bookbtn_htl {
    float: right!important;
}
.hotel_sideprice{
  height: auto;
  
}
.celhtl.width18 .hotel_sideprice .sideprice_hotel{
  float: left;
margin: 0; padding: 0px 10px;
text-align: left;
width: 60%;
}
.celhtl.width18 .hotel_sideprice{
  border-left: medium none;
height: auto;
}
}
@media screen and (max-width: 650px){
.noviews {
    display: none;
}
.fullshort {
    width: 100%;
}
.col30{width: 100%;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    overflow: auto;} 
.madgrid .sidenamedesc .celhtl.width30{
  width:20% !important;
}
.hoteldist{
  padding: 0 5px;
}
.madgrid .sidenamedesc .celhtl.width52{
  width:80% !important; }
.hotel_info { display: none; }
.hotel_image { margin: 0px; height: auto; }
.hotel_image > img { min-height: inherit !important; max-height:inherit !important; }
.flitruo_hotel { margin: 2px !important; }
.hotel_name { font-size: 14px !important; }
.side_amnties { display: none; }
.hotel_address { font-size: 12px !important; padding: 0px !important; }
.booknow { margin: 11px 10px; float: right; }
.topmisty { margin: 10px 0px; }
.contentsec .container { padding: 0px 4px !important; }
.stra_hotel { margin: 0px !important; }
#reset { margin-right: 35px; }
.dets_section .container, .down_hotel .container { padding: 0px 4px !important; }
.right_det { padding: 10px; }
.down_hotel { padding: 10px 0px !important; }
.hotel_list { margin:0px !important; padding: 10px 5px !important; }
#sync2 { padding: 0px !important; }
}

@media screen and (max-width: 550px){

.fligthsmll{width:60px;}
.width20, .width80{width:100%;}
.ifroundway .fligthsmll, .fligthsmll {float: left;height: auto;line-height: normal;margin: 5px;padding: 5px;width: auto;
}
.airlinename {line-height: 30px;padding: 5px;
}
.celhtl.width18 .hotel_sideprice .sideprice_hotel {
    text-align: center; 
    width: 100%;
    background: #fff;
}
.celhtl.width18 .hotel_sideprice{
    background: #fff;
    margin-top: 15px;
}
.celhtl.width18 .hotel_sideprice .bookbtn_htl{
    width: 100%;
}
.bookbtn_htl .booknow{
    float: none;
    margin: 11px auto;
        width: 130px;

}
}

@media screen and (max-width: 460px){
.hide_sort{display:none;}
.sortul.flight_sort .sortli{width:33.33%;}

.booknow{padding: 10px 15px;}
.width_hundred{width:100%;}
.flight_datails .imagesmflt{float:left;}

}

@media screen and (max-width: 420px){
.modifysrch strong{display:none;}
.modifysrch{float:right;width:50px;padding:0;}
.sorta,.sortactivity{font-size:12px;}
.fltime{margin-left: 2px;}
.flname {font-size: 14px;
}
}

.width30 {width: 30%!important;}
.width52{width: 52%!important;}
.width18{width: 18%!important;}

.hotel_info{height: 20px !important;}


.starone.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.disabled {
    opacity: 0.2;
}

.starone {
    float: left;
    width: 20%;
    position: relative;
}

input.hidecheck[type="checkbox"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    top: 0;
    width: 100%;
    z-index: 98;
    position: absolute;
}

#starCountWrapper .starin {
    padding: 10px 5px;
}

.toglefil.active.disabled .starin, .toglefil.disabled .starin {
    /* background: #555757; */
    color: #9a9a9a;
}

.starin {
    background: #f5f5f5 none repeat scroll 0 0;
    display: block;
    color: #000;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    margin: 0px 3px; padding: 10px 0px; border-radius: 3px;
}
.starone.active .starin{ background: #0079c2; color: #fff !important; }

.starfa.fa {
    color: #fff;
}

.starone.active .fa { color: #fff; }

.starfa.fa {
    color: #fdb813;
    margin-left: 0px;
/*    display: block;
*/}
.sortul li{list-style: none;}
.hotel_fac li{list-style: none;}
.sorta.des::after, .sortactivity.des::after{
    top:0px;
}
.sorta.ase::after, .sortactivity.ase::after{
    top:2px;   
}
/*13-3-19*/
.ranghead:after {
    content: "\f0d7";
    color: #888888;
    font-family: "Font Awesome 5 Pro";
    font-size: 14px;
    font-weight: bold;
    top: 0;
    float: right;
}
/*8-4-19*/
.hotel_name {
        color: #203f7c;
    display: block;
    font-size: 18px;
    font-weight: 600;
    overflow: visible;
    margin-top: 10px;
    margin-bottom: 7px;
}
#htldets ul li{
    list-style-type: none;
    padding: 10px;
}
#htldets .descriptnall h4{
    padding: 10px;
    background: #f0f0f0;
}
#htldets ul li .fa{
        color: #00aeef;
}
#facility ul li{
  padding: 5px 30px 0px 0px;
}
.innertabs .detail_iamges,
.innertabs .detail_iamges_desc{

    margin-top: 20px;
}
.innertabs .dethtlname{
    line-height: 30px;
}
.innertabs .star_detail{
line-height: 30px;
}
.matb-20{
    margin-bottom: 20px;
    margin-top: 20px;
}
/**/
h3.lineth {
 overflow: hidden;
 text-align: center;
/* padding-bottom: 15px;*/
}
h3.lineth:before,
h3.lineth:after {
 background-color: #00aeef;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 39%;
}
h3.lineth:before {
 right: 0.5em;
 margin-left: -50%;
}
h3.lineth:after {
 left: 0.5em;
 margin-right: -50%;
}
.boxtop #reset {
    padding: 2px 12px;
    background: #203f7c!important;
    border: 1px solid #203f7c!important;
}
.price_slider1 .ui-widget-content {
   
}