.trav_booking{
	padding: 15px 0;
	display: block;
}
.trvl_details{border: 1px solid #ccc;}
.travl{border: 1px solid #ccc;display: block;overflow: hidden;margin: 0 0 20px 0;}
.fr_sum{background-color: #194e91;color: #fff;padding: 10px;}
.review_hotel {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    /*padding: 20px;*/
    float: left;
    width: 100%;
}
.review_hotel h4 {
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding: 20px;
}
span.review_num {
    background-color: #ccc;
    background: #e5e5e5;
    border-radius: 50%;
    color: #53585c;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    text-align: center;
    width: 38px;
}

.wrp_pre {
    float: left;
    padding: 10px;
    width: 100%;
}
/*.wrp_pre input {
    height: auto;
}*/
.sign_twosec {
    display: block;
    overflow: hidden;
}
#i_have_account {
    display: none;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.pre_put {
    border: 1px solid #ddd;
    border-radius: 0;
    color: #333;
    display: block;
    font-size: 15px;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.sentmail_id {
    color: #666;
    display: block;
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;
}
.paysubmit {
    background: #194e91 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 14px;
    padding: 15px 20px;
    text-align: center;
    width: 70%;
}
.p_left{float: left;}
.p_right{float: right;}
.trv_price {
    padding: 10px;
    display: block;
}
.trv_price li{padding: 8px 0;}
.trv_price li{border-bottom: 1px solid #ccc;}
.trv_price li:last-child{border:0;}
.fs-xlg {
    font-size: 3.143rem;
}
/*.pric_xlg{float: right;}*/
.btn_promo{background-color: #194e91;color: #fff;width: 100%;border-radius: 0;}
.pro_ft{border-radius: 0;}
.onward, .return_flt{padding: 15px 0 15px 0;border-bottom:0;}
.mob_hi {
    line-height: 40px;
}
.onward h4, .return_flt h4 {
    border-bottom: 0;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}
.travl_logoimg img {
    margin-bottom: 8px;
    width: 85%;
}